<div class="col-sm-6 col-sm-offset-3">
   <table class="table table-bordered">
      <tr>
         <td>Application Status:</td>
         <td>
            <%= application.applicationstatus %>
         </td>
      </tr>
      <tr>
         <td>Applicant Name</td>
         <td>
            <%= application.userfname %>
            <%= application.userlname %>
         </td>
      </tr>
      <tr>
         <td>Applicant Email</td>
         <td>
            <%= application.useremail %>
         </td>
      </tr>
      <tr>
         <td>Applicant Student ID</td>
         <td>
            <%= application.useraddress %>
         </td>
      </tr>
      <tr>
         <td>Applicant City</td>
         <td>
            <%= application.usercity %>
         </td>
      </tr>
      <tr>
         <td>Applicant State</td>
         <td>
            <%= application.userstate %>
         </td>
      </tr>
      <tr>
         <td>Applicant Zipcode</td>
         <td>
            <%= application.userzipcode%>
         </td>
      </tr>
      <tr>
         <td>Applicant Discipline</td>
         <td>
            <%= application.userdiscipline %>
         </td>
      </tr>
      <tr>
         <td>Expected Graduation Date</td>
         <td>
            <%= application.expectedGraduationSemester + ' ' + application.expectedGraduationYear %>
         </td>
      </tr>
      <tr>
         <td>Proposed Internship Date</td>
         <td>
            <%= application.proposedinternsemester  + ' ' + application.proposedinternyear %>
         </td>
      </tr>
      <tr>
         <td>Major</td>
         <td>
            <%= application.major %>
         </td>
      </tr>
      <tr>
         <td>Classification</td>
         <td>
            <%= application.classification %>
         </td>
      </tr>
      <tr>
         <td>GPA</td>
         <td>
            <%= application.gpa %>
         </td>
      </tr>
      <tr>
         <td>ITEC GPA</td>
         <td>
            <%= application.itecgpa %>
         </td>
      </tr>
      <tr>
         <td>ITEC 2150</td>
         <td>
            <%= application.itec2150 + ' ' + application.itec2150Year %>
         </td>
      </tr>
      <tr>
         <td>ITEC 3100</td>
         <td>
            <%= application.itec2150 + ' ' + application.itec2150Year %>
         </td>
      </tr>
      <tr>
         <td>ITEC 3200</td>
         <td>
            <%= application.itec3200 + ' ' + application.itec3200Year %>
         </td>
      </tr>
      <tr>
         <td>ITEC 3900</td>
         <td>
            <%= application.itec3900 + ' ' + application.itec3900Year %>
         </td>
      </tr>
      <tr>
         <td>Emergency Contact Name</td>
         <td>
            <%= application.emergencycontactname %>
         </td>
      </tr>
      <tr>
         <td>Emergency Contact Address</td>
         <td>
            <%= application.emergencycontactaddress %>
         </td>
      </tr>
      <tr>
         <td>Emergency Contact Email</td>
         <td>
            <%= application.emergencycontactemail %>
         </td>
      </tr>
      <tr>
         <td>Emergency Contact City</td>
         <td>
            <%= application.emergencycontactcity %>
         </td>
      </tr>
      <tr>
         <td>Emergency Contact Zipcode</td>
         <td>
            <%= application.emergencycontactzipcode %>
         </td>
      </tr>
      <tr>
         <td>Emergency Contact Phone</td>
         <td>
            <%= application.emergencycontactphone %>
         </td>
      </tr>
      <tr>
         <td>Mentor Name</td>
         <td>
            <%= application.mentorname %>
         </td>
      </tr>
      <tr>
         <td>Mentor Cell Phone</td>
         <td>
            <%= application.mentorcellphone %>
         </td>
      </tr>
      <tr>
         <td>Mentor Email</td>
         <td>
            <%= application.mentoremail %>
         </td>
      </tr>
      <tr>
         <td>Mentor Office</td>
         <td>
            <%= application.mentoroffice %>
         </td>
      </tr>
      <tr>
         <td>Interests and Strengths</td>
         <td>
            <%= application.interestsandstrengths %>
         </td>
      </tr>
      <tr>
         <td>Type of Internship</td>
         <td>
            <%= application.typeofinternship %>
         </td>
      </tr>
      <tr>
         <td>Focus Area</td>
         <td>
            <%= application.focusonsoftdev %>
         </td>
      </tr>
      <tr>
         <td>Have Proposed Internship?</td>
         <td>
            <%= application.haveproposedintern %>
         </td>
      </tr>
      <tr>
         <td>Proposed Organization Name</td>
         <td>
            <%= application.proposedorgname %>
         </td>
      </tr>
      <tr>
         <td>Itec Focus</td>
         <td>
            <%= application.itecfocus %>
         </td>
      </tr>
      <tr>
         <td>Proposed Organization Address</td>
         <td>
            <%= application.proposedorgaddress %>
         </td>
      </tr>
      <tr>
         <td>Proposed Organization City</td>
         <td>
            <%= application.proposedorgcity %>
         </td>
      </tr>
      <tr>
         <td>Proposed Organization State</td>
         <td>
            <%= application.proposedorgstate %>
         </td>
      </tr>
      <tr>
         <td>Proposed Organization Zipcode</td>
         <td>
            <%= application.proposedorgzipcode %>
         </td>
      </tr>
      <tr>
         <td>Proposed Organization Phone</td>
         <td>
            <%= application.proposedorgphone %>
         </td>
      </tr>
      <tr>
         <td>Proposed Organization Manager Name</td>
         <td>
            <%= application.proposedorgmanager %>
         </td>
      </tr>
      <tr>
         <td>Is applicant employed at the site?</td>
         <td>
            <%= application.isemployedatsite %>
         </td>
      </tr>
      <tr>
         <td>Applicant Current Position</td>
         <td>
            <%= application.employedcurrentposition %>
         </td>
      </tr>
      <tr>
         <td>Is Current Position Paid?</td>
         <td>
            <%= application.ispaidposition %>
         </td>
      </tr>
      <tr>
         <td>Number of hours worked?</td>
         <td>
            <%= application.numberofhoursworked %>
         </td>
      </tr>
      <tr>
         <td>Is the project separate?</td>
         <td>
            <%= application.isseparateproject %>
         </td>
      </tr>
      <tr>
         <td>Does the project have separate hours?</td>
         <td>
            <%= application.isseparatehours %>
         </td>
      </tr>
      <tr>
         <td>Signature of Applicant</td>
         <td>
            <%= application.signature %>
         </td>
      </tr>
      <tr>
         <td>Printed Name of Applicant</td>
         <td>
            <%= application.printedname %>
         </td>
      </tr>
   </table>
   <h3>Student Feedback</h3>
   <table class="table table-bordered">
      <thead>
         <tr>
            <th>Feedback</th>
            <th>Entered By</th>
            <th>Date</th>
            <th>Delete</th>
         </tr>
      </thead>
      <tbody>
      <% application.feedback.forEach(function(feedback) { %>
         <tr>
            <td><%= feedback.feedback %></td>
            <td><%= feedback.user %></td>
            <td><%= feedback.prettyFeedbackDate %></td>
            <td><a href="/application/itec/<%= application._id %>/feedback/delete/<%= feedback._id %>"><span class='glyphicon glyphicon-trash'></span></a></td>
         </tr>
      <% }) %>
      </tbody>
   </table>
   <% if (user.role=='admin' || user.role=='instructor') { %>
   <form name="itecappadminnotes" action="/application/itec/feedback/<%= application._id %>" method="post">
      <div class="form-group">
         <br>
         <textarea rows="4" cols="50" name="feedback"></textarea>
      </div>
      <button type="submit" class="btn btn-success btn-lg">Add Feedback</button>
   </form>
   <h3>Change Application Status</h3>
   <form name="applicationstatus" method="post">
      <div class="form-group">
         <label>Application Status</label>
         <select class="form-control" name="applicationstatus">
            <option value="" >Select a status</option>
            <option value="complete" >Complete</option>
            <option value="incomplete">Incomplete</option>
            <option value="further review">Further Review</option>
            <option value="applicant rescinded" >Applicant Rescinded</option>
            <option value="applicant postponed">Applicant Postponed</option>
            <option value="site declined">Site Declined</option>
         </select>
      </div>
      <button type="submit" class="btn btn-success btn-lg">Change Status</button>
   </form>
   <h3>Admin and Instructor Notes</h3>
   <table class="table table-bordered">
      <thead>
         <tr>
            <th>Note</th>
            <th>Entered By</th>
            <th>Date</th>
            <th>Delete</th>
         </tr>
      </thead>
      <tbody>
         <% application.notes.forEach(function(note) { %>
         <tr>
            <td><%= note.note %></td>
            <td><%= note.user %></td>
            <td><%= note.prettyNotesDate %></td>
            <td><a href="/application/itec/<%= application._id %>/notes/delete/<%= note._id %>"><span class='glyphicon glyphicon-trash'></span></a></td>
         </tr>
         <% }); %>
      </tbody>
   </table>
   <hr>
   <form name="applicationstatus" action="/application/itec/notes/<%= application._id %>" method="post">
      <div class="form-group">
         <h3>Add Note</h3>
         <br>
         <textarea rows="4" cols="50" name="note"></textarea>
      </div>
      <button type="submit" class="btn btn-success btn-lg">Add Note</button>
   </form>
   <br>
   <h3>Document Uploads table</h3>
   <hr>
</div>
<% } else { %>
   <h3>Document Uploads table</h3>
   <hr>
</div>
<% } %>
        <div class="col-6 col-md-auto">
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th>Document Status</th>
                    <th>Name</th>
                    <th>Section</th>
                    <th>File Type</th>
                    <th>Date Submitted</th>
                    <th>View Document Details</th>
                    </tr>
                </thead>
                <tbody>
                <% documents.forEach(function(document) { %>
                <tr>
                    <td><%= document.documentStatus %></td>
                    <td><%= document.documentName %></td>
                    <td><%= document.fileSection %></td>  
                    <td><%= document.fileType %></td>
                    <td><%= document.prettyUploadDate %></td>
                    <td><a href="/document/<%= document._id%>"><span class='glyphicon glyphicon-search'></span></a></td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
