    <!doctype html>
<html>
<head>
    <title>Applications</title>
<% include partials/headerimports %>
</head>
<body>
<% include partials/nav.ejs %>

    <div class="container">
  <h2>Application Details</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Email</th>
        <th>Student ID</th>
        <th>Major</th>
        <th>Application Status</th>
        <th>More</th>
</tr>
    </thead>

    <tbody>


        <% applicationList.forEach(function(application) { %>
          <tr>
            <td><%= application.useremail %></td>
            <td><%= application.userstudentid %></td>
    	<td><%= application.major %></td>
    	<td><%= application.applicationstatus %></td>
      <td><a href=<%="/application/"+user.discipline+"/"+application._id%>>View Details</a></td>
  </tr>
          <% }); %>
    </tbody>
  </table>
</div>
<% include partials/footerimports %>
    </body>
    </html>
