<!DOCTYPE html>
<html>
   <head>
      <meta charset='utf-8'>
      <title>Applications</title>
      <% include partials/headerimports %>
   </head>
   <body>
      <% include partials/nav.ejs %>
      <div class="container">
         <h2>Application Details</h2>
         Does user have itec? <%= haveItecApp %> <br>
         Does user have bio? <%= haveBioApp %>
         <h1>Welcome! <%= user.fname %></h1>
         <br/>
         <% if (user.role=='user') { %>
         <div align="left">
            <% if (haveItecApp || haveBioApp) { %>
            <h3 for="select" class="col-lg-5 control-label">Select an application to edit</h3>
            <div class="col-lg-3" class>
               <select class="form-control" id="sectionList">
                  <option vaule="Select">Select</option>
                  <% if (haveItecApp) { %>
                  <option value="ItecEdit">ITEC</option>
                  <% } %>
                  <% if (haveBioApp) { %>
                  <option value="BioEdit">Bio</option>
                  <% } %>
               </select>
            </div>
            <% } %>
            <% if (!haveItecApp || !haveBioApp) { %>
            <h3 for="select" class="col-lg-5 control-label">Select a Major to Apply For</h3>
            <div class="col-lg-3" class>
               <select class="form-control" id="sectionList">
                  <option vaule="Select">Select</option>
                  <% if (!haveItecApp) { %>
                  <option value="ITEC">ITEC</option>
                  <% } %>
                  <% if (!haveBioApp) { %>
                  <option value="Bio">Bio</option>
                  <% } %>
               </select>
            </div>
            <% } %>
         </div>
         <br/>
         <br/>
         <br/>
         <div class="ITEC" align="left">
            <h3>You can apply for an ITEC internship <a href="/itec" button type="submit" class="btn btn-success">HERE</button></a></h3>
         </div>
         <div class="Bio" align="left">
            <h3>You can apply for a Biology internship <a href="/bio" button type="submit" class="btn btn-success">HERE</button></a></h3>
         </div>
         <% }  %>
         <% if (user.role=='admin') { %>
         <h6>Filter applications based on proposed internship semester year and discipline</h6>
         <select id="semesteryear">
            <option value=''>Select Semester Year</option>
            <option value="Fall 2017">Fall 2017</option>
            <option value="Spring 2018">Spring 2018</option>
            <option value="Fall 2018">Fall 2018</option>
         </select>
         <br><br>
         <select id="discipline">
            <option value=''>Select Discipline</option>
            <option value="IT">IT</option>
            <option value="Biology">Biology</option>
         </select>
         <br><br>
         <% }  %>
         <table class="table table-striped table-bordered" id="applications" cellspacing="0" width="100%">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Student ID</th>
                  <th>Major</th>
                  <th>Application Status</th>
                  <th>Discipline</th>
                  <th>Proposed Semester Year</th>
                  <th>More</th>
               </tr>
            </thead>
            <tbody>
               <% applicationList.forEach(function(application) { %>
               <tr>
                  <td><%= application.userfname %> <%= application.userlname %></td>
                  <td><%= application.useremail %></td>
                  <td><%= application.userstudentid %></td>
                  <td><%= application.major %></td>
                  <td><%= application.applicationstatus %></td>
                  <td><%= application.userdiscipline %></td>
                  <td><%= application.proposedinternsemester + " " + application.proposedinternyear %></td>
                  <td><a href=<%="/application/"+application.userdiscipline+"/"+application._id%>>View Details</a></td>
               </tr>
               <% }); %>
            </tbody>
         </table>
      </div>
      <% include partials/footerimports %>
      <link rel="stylesheet" type="text/css" href="/stylesheet/datatables.css">
      <script type="text/javascript" charset="utf8" src="/javascript/datatables.js"></script>
      <script type="text/javascript">
         var table;
         var semesterYear = "";
         var discipline = "";
         $(document).ready(function(){
           table = $('#applications').DataTable({
             "bFilter": true
           });
           $('#semesteryear').on('change', function() {
             semesterYear = $(this).find(":selected").val()
             table.search(semesterYear + " " + discipline).draw();
           });
           $('#discipline').on('change', function() {
             discipline = $(this).find(":selected").val()
             table.search(discipline + " " + semesterYear).draw();
           });
         });
      </script>
   </body>
</html>
<script>
   $(function(){
   		$('.Bio').hide();
       $('.ITEC').hide();
       $('#sectionList').change(function(){
          var opt = $(this).val();
           if(opt == 'ITEC'){
               $('.Bio').hide();
               $('.ITEC').show();
           }else if(opt == 'Bio'){
               $('.Bio').show();
               $('.ITEC').hide();
           }
           else{
           		$('.Bio').hide();
               $('.ITEC').hide();
           }
       });
   });
</script>