<!DOCTYPE html>
<html>
   <head>
      <meta charset='utf-8'>
      <title>Applications</title>
      <% include partials/headerimports %>
   </head>
   <body>
      <% include partials/nav.ejs %>
      <div class="container">
         <h2>Application Details</h2>
            <% if (successMessage.length > 0) { %>
            <div class="alert alert-success"><%= successMessage %></div>
            <% } %>
            <% if (failureMessage.length > 0) { %>
            <div class="alert alert-danger"><%= failureMessage %></div>
            <% } %>
         <br/>

<form name="applicationexports" action="/applications" method="post" class="form-horizontal">
         <fieldset>
            <h4 align="center">Select your table/export filters</h4>

            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">Select the semester and year you wish to filter by or export</label>
                  <div class="col-lg-5" class>
                     <select class="form-control adminSemester " id="applicationSemester" name="semester">
                        <option value="Fall">Fall</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                     </select>
                     <select class="form-control adminYearSelect" id="applicationYear" name="year" required type="number">
                     </select>
                  </div>
               </div>
            </div>

            <div class="form-group">
                <div class="form-inline">
                    <label for="select" class="col-lg-5 control-label">Select your program:</label>
                        <div class="col-lg-5" class>
                           <select class="form-control adminProgram" id="applicationProgram" name="program">
                           <option value="Biology Internship (BIO 4800)">Biology Internship (BIO 4800)</option>
                           <option value="Information Technology Internship (ITEC 4800)">Information Technology Internship (ITEC 4800)</option>
                           </select>
                        </div>
                     </div>
            </div>


        <fieldset>
        <div align="center">
          <button type="submit" class="btn btn-success btn-lg">Export</button>
        </div>
      </form>
         <br><br>

         <table class="table table-striped table-bordered" id="applications" cellspacing="0" width="100%">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Student ID</th>
                  <th>Major</th>
                  <th>Application Status</th>
                  <th>Discipline</th>
                  <th>Proposed Semester Year</th>
                  <th>View Details</th>
               </tr>
            </thead>
            <tbody>
               <% applicationList.forEach(function(application) { %>
               <tr>
                  <td><%= application.userfname %> <%= application.userlname %></td>
                  <td><%= application.useremail %></td>
                  <td><%= application.userstudentid %></td>
                  <td><%= application.major %></td>
                  <td><%= application.applicationstatus %></td>
                  <td><%= application.userdiscipline %></td>
                  <td><%= application.proposedinternsemester + " " + application.proposedinternyear %></td>
                  <td><a href="/application/<%= application.userdiscipline %>/<%= application._id %>" ><span class='glyphicon glyphicon-search'></span></a></td>
               </tr>
               <% }); %>
            </tbody>
         </table>
      </div>
      <% include partials/footerimports %>
      <script type="text/javascript">

      $(document).ready(function() {

         makeOptionSelected('applicationSemester', '<%= admin.adminsemester %>');
         makeOptionSelected('applicationYear', '<%= admin.adminyear %>');
         makeOptionSelected('applicationProgram', '<%= admin.adminprogram %>');

         var table;
         var semester = "";
         var program = "";
         var year = "";

        //  table.search(<%= admin.adminsemester %> + ' ' + <%= admin.adminyear %>);
         
         
           table = $('#applications').DataTable({
             "bFilter": true
           });

            table.search('<%= admin.adminsemester %>' + ' ' + <%= admin.adminyear %>).draw();
           $('#applicationSemester').on('change', function() {
             semester = $(this).find(":selected").val()
             table.search(semester).draw();
           });
           $('#applicationYear').on('change', function() {
             year = $(this).find(":selected").val()
             table.search(year).draw();
           });
           $('#applicationProgram').on('change', function() {
             program = $(this).find(":selected").val()
             table.search(program).draw();
           });

           
         });
      </script>
   </body>
</html>
<script>
   $(function(){
   		$('.Bio').hide();
       $('.ITEC').hide();
       $('#sectionList').change(function(){
          var opt = $(this).val();
           if(opt == 'ITEC'){
               $('.Bio').hide();
               $('.ITEC').show();
           }else if(opt == 'Bio'){
               $('.Bio').show();
               $('.ITEC').hide();
           }
           else{
           		$('.Bio').hide();
               $('.ITEC').hide();
           }
       });
   });
</script>
