<!-- views/documentUpload.ejs -->
<!DOCTYPE html>
<html>
   <head>
      <meta charset='utf-8'>
      <title>Document Uploads</title>
      <% include partials/headerimports %>
   </head>
   <body>
      <% include partials/nav.ejs %>
      <div class="container">
         <h2>Document Uploads</h2>
        <form name="applicationexports" action="/applications" method="post" class="form-horizontal">
         <fieldset>
            <h4 align="center">Select the semester/year to filter or export</h4>

            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">Select the semester and year you wish to filter by or export</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="selectAdminSemester" name="adminsemester">
                        <option value="Fall">Fall</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                     </select>
                     <select class="form-control adminYearSelect" id="selectAdminYear" name="adminyear" required type="number">
                     </select>
                  </div>
               </div>
            </div>
        <fieldset>
        <div align="center">
          <button type="submit" class="btn btn-success btn-lg">Export</button>
        </div>
      </form>
         <table class="table table-striped table-bordered" id="applications" cellspacing="0" width="100%">
            <thead>
               <tr>
                  <th>Student Name</th>
                  <th>Email</th>
                  <th>Date</th>
                  <th>Section</th>
                  <th>Document Name</th>
                  <th>Type</th>
                  <th>Status</th>
                  <th>View Details</th>
               </tr>
            </thead>
            <tbody>
               <% documentList.forEach(function(document) { %>
               <tr>
                  <td><%= document.studentName %></td>
                  <td><%= document.studentEmail %></td>
                  <td><%= document.date %></td>
                  <td><%= document.section %></td>
                  <td><%= document.documentName %></td>
                  <td><%= document.documentType %></td>
                  <td><%= document.documentStatus %></td>
                  <td><a href="/document/<%= document.docId %>" ><span class='glyphicon glyphicon-search'></span></a></td>
               </tr>
               <% }); %>
            </tbody>
         </table>
      </div>
      <% include partials/footerimports %>
      <script type="text/javascript">
         $(document).ready(function() {
        
             $('#applications').DataTable();
         
             $("#major").change(function() {
                 $(this).find("option:selected").each(function() {
                     var optionValue = $(this).attr("value");
                     if(optionValue) { // if bio or itec is selected
                         $(".uploadBox").not("#" + (optionValue + 'Box')).hide();
                         $("#" + (optionValue + 'Box')).show();
                     } else { // if not then hide both itec and bio upload boxes
                         $(".uploadBox").hide();
                     }
                 });
                 }).change();
         });
      </script>
   </body>
</html>