<!-- views/editsite.ejs -->
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Edit Site</title>
    <% include partials/headerimports %>
</head>
<body>
    <% include partials/nav.ejs %> 
      <div class="container">
          <form  action="/sites">
              <input type="submit" value="Back" class="btn btn-success btn-lg" />
          </form>
          <div class="col-sm-8 col-sm-offset-1" align="center">
              <h1>Edit Site</h1>
              <% include partials/flashMessages.ejs %>
            <!-- LOGIN FORM -->
              <form name="editsite" onsubmit="return validateForm()" class="form-horizontal" method="post">
                  <div class="form-group">
                      <label for="input" class="col-lg-5 control-label">Site Name</label>
                      <div class="col-lg-5">
                          <input type="text" class="form-control" id="nameTxt" name="name" value="<%= site.name %>" required>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="input" class="col-lg-5 control-label">Address</label>
                      <div class="col-lg-5">
                          <input type="text" class="form-control" id="addressTxt" name="address" value="<%= site.address %>" required>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="input" class="col-lg-5 control-label">City</label>
                      <div class="col-lg-5">
                          <input type="text" class="form-control" id="cityTxt" name="city" pattern="[A-Za-z._]*" title="Must not contain numbers" value="<%= site.city %>" required>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="input" class="col-lg-5 control-label">State</label>
                      <div class="col-lg-5">
                          <input type="text" class="form-control" id="stateTxt" name="state" pattern="[A-Z]{2}" title="Invalid format ex: GA" value="<%= site.state %>" required>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="input" class="col-lg-5 control-label">Zip Code</label>
                      <div class="col-lg-5">
                          <input type="text" class="form-control" id="zipCodeTxt" name="zipcode" pattern="\d{5}([ \-]\d{4})?" title="Not a valid zipcode" value="<%= site.zipcode %>" required>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="form-inline">
                          <label for="select" class="col-lg-5 control-label">Program</label>
                          <div class="col-lg-1" class>
                              <select class="form-control" id="section" name="section" value="<%= site.section %>" required>
                                  <option vaule="">Select</option>
                                  <option value="Bio">Bio</option>
                                  <option value="Itec">Itec</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="form-inline">
                          <label for="select" class="col-lg-5 control-label">MOU on file?</label>
                          <div class="col-lg-1" class>
                              <select class="form-control" id="mouTxt" name="mou" value="<%= site.mou %>" required>
                                  <option value="">Select</option>
                                  <option value="Yes">Yes</option>
                                  <option value="No">No</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="expiration">
                      <div class="form-group">
                          <label for="input" class="col-lg-5 control-label">MOU Expiration Date</label>
                          <div class="col-lg-5">
                              <input type="text" class="form-control" id="expirationTxt" name="mouexpiration"  value="<%= site.mouexpiration %>">
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="form-inline">
                          <label for="select" class="col-lg-5 control-label">Company Status</label>
                          <div class="col-lg-1" class>
                              <select class="form-control" id="siteStatusTxt" name="sitestatus" value="<%= site.sitestatus %>" required>
                                  <option value="">Select</option>
                                  <option value="Active">Active</option>
                                  <option value="Inactive">Inactive</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-success btn-lg" id="saveBtn">Save</button>
              </form>
          </div>

          <div class="col-sm-6 col-sm-offset-3">
              <br>
              <h3>Contacts:</h3>
              <table class="table table-bordered">
                  <thead>
                  <tr>
                      <th>Name</th>
                      <th>Title</th>
                      <th>Email</th>
                      <th>Number</th>
                      <th>Cell Number</th>
                      <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% site.contacts.forEach(function(contact) { %>
                      <tr>
                          <td><%= contact.fname %> <%= contact.lname %></td>
                          <td><%= contact.title %></td>
                          <td><%= contact.email %></td>
                          <td><%= contact.office %></td>
                          <td><%= contact.cell %></td>
                          <td><a href='/site/contacts/<%= site._id %>/<%= contact._id %>'><span class='glyphicon glyphicon-trash'></span></a></td>
                      </tr>
                  <% }); %>
                  </tbody>
              </table>
              <div align="center">
                  <button type="submit" class="btn btn-success btn-lg" data-toggle="modal" data-target="#siteContactModal">Add Contact</button>
                  <a href="/site/<%= site._id %>/export/contacts" class="btn btn-success btn-lg" role="button">Export Contacts</a>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="siteContactModal" role="dialog">
                  <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Add Site Contact</h4>
                          </div>
                          <div class="modal-body">
                              <form name="addsitecontacts" action="/site/<%=site._id %>" method="post" class="form-horizontal">
                                  <div class="form-group">
                                      <label class="col-lg-5 control-label">First Name</label>
                                      <input type="text" class="col-lg-5" class="form-control" name="fname" >
                                  </div>
                                  <div class="form-group">
                                      <label class="col-lg-5 control-label">Last Name</label>
                                      <input type="text" class="col-lg-5" class="form-control" name="lname" >
                                  </div>
                                  <div class="form-group">
                                      <label class="col-lg-5 control-label">Title</label>
                                      <input type="text" class="col-lg-5" class="form-control" name="title" >
                                  </div>
                                  <div class="form-group">
                                      <label class="col-lg-5 control-label">Email</label>
                                      <input type="text" class="col-lg-5" class="form-control" name="email" >
                                  </div>
                                  <div class="form-group">
                                      <label class="col-lg-5 control-label">Office Phone Number</label>
                                      <input type="text" class="col-lg-5" class="form-control" name="office" >
                                  </div>
                                  <div class="form-group">
                                      <label class="col-lg-5 control-label">Cell Phone Number</label>
                                      <input type="text" class="col-lg-5" class="form-control" name="cell" >
                                  </div>
                                  <div class="modal-footer">
                                      <button type="submit" class="btn btn-success" onclick="addSiteContact()">Save</button>
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>

          <div class="col-sm-6 col-sm-offset-3">
              <h1>Delete Site</h1>
              <!-- LOGIN FORM -->
              <form name="deletesite" action="/site/delete/<%= site._id %>" method="post">
                  <div class="form-group">
                      <label>Type delete in the below box to delete</label>
                      <input type="text" class="form-control" name="delete" id="deleteTxt" required>
                  </div>
                  <button type="submit" class="btn btn-success btn-lg" id="deleteBtn">Submit for Deletion</button>
              </form>
          </div>
      </div>
    </div>
      <% include partials/footerimports %>
</body>
</html>

<script>
    makeOptionSelected('mouTxt', '<%= site.mou %>');
    makeOptionSelected('section', '<%= site.section %>');
    makeOptionSelected('siteStatusTxt', '<%= site.sitestatus %>');
</script>
