<!-- views/edititec.ejs -->
<!DOCTYPE html>
<html lang="en-US">
   <head>
      <title>Edit BIO Application</title>
      <% include partials/headerimports.ejs %>
   </head>
   <body>
      <% include partials/nav.ejs %>
      <div class="container">
      <div class="col-sm-10 col-sm-offset-1">
      <br>
      <h1 align="center">Biology Internship Application</h1>
      <h4 align="center">Submit a typed, completed, and signed form with an
         attached, printed copy of your unofficial academic transcript 
         (obtained from Banner) to the SST Office in the Allied Health 
         and Sciences (H2) Building, Room 3209.<br><br>
         <strong>IMPORTANT:</strong> The information you submit will be used to determine if
         you will be accepted to participate in the Program. Completion of this application does NOT
         guarantee your acceptance into the Biology Internship Program and/or enrollment in BIOL4800.
         <br><br>
         Please remember to upload all required application materials (transcript, essay,
         preceptor form if picking your own site, and other necessary documents) as a part
         of your application.
      </h4>
      <br>
      <form name="bioEdit" action="/editbio" method="post" class="form-horizontal" _lpchecked="1">
         <fieldset>
               <h2 align = "center">Student Contact Information</h2>
               <div class="rounded-solid-padded-borders">
               <div class="form-group">
                     <label for="input" class="col-lg-5 control-label">Cell Phone Number</label>
                     <div class="col-lg-5">
                        <input class="form-control" rows="3" id="phonenumberTxt" name="phonenumber" placeholder="XXX-XXX-XXXX"
                           pattern="\d{3}[\-]\d{3}[\-]\d{4}" title="Please follow the format: xxx-xxx-xxxx"
                           required value='<%= user.local.phone %>' type="text">
                     </div>
                  </div>
                  </div>
            <h2 align = "center">Student Academic Information</h2>
            <div class="rounded-solid-padded-borders">
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">Desired Internship Semester and Year</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="proposedInternSemesterList" name="proposedinternsemester">
                        <option value="Select">Select</option>
                        <option value="Fall">Fall</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                     </select>
                     <select class="form-control yearSelect" id="proposedInternYearList" name="proposedinternyear" required type="number">
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">Concentration</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="concentrationList" name="major">
                        <option value="Select">Select</option>
                        <option value="Biochemistry">Biochemistry</option>
                        <option value="Cell Biology and Biotechnology">Cell Biology and Biotechnology</option>
                        <option value="General Biology">General Biology</option>
                        <option value="Biology Teacher Certification">Biology Teacher Certification</option>
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">Expected Graduation Date</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="graduationSemesterList" name="expectedGraduationSemester">
                        <option value="Select">Select</option>
                        <option value="Fall">Fall</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                     </select>
                     <select class="form-control yearSelect" id="graduationYearList" name="expectedGraduationYear">
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Overall GPA</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="gpaTxt" name="gpa"  type="number" 
                     min=1 max=4 placeholder="Decimal" pattern="/^[0-4][.][0-9][0-9]$/" step="0.01"   
                     required value=<%= application.gpa %>>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Program GPA</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="programGPATxt" name="programgpa" type="number"  
                     min=1 max=4  placeholder="Decimal" pattern="/^[0-4][.][0-9][0-9]$/" step="0.01"    
                     required value=<%= application.programgpa %>>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Number of Hours completed within Biology</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="hoursTxt" name="hourscompleted" placeholder="Hours" 
                  pattern="^(0|[1-9][0-9]*)$"
                  required value='<%= application.hourscompleted %>' type="text">
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">What is your intended profession/career?</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="professionTxt" name="career" 
                     placeholder="Profession/Career" pattern="[A-Za-z].{2,}" title=" Example: Biology" 
                     required value='<%= application.career %>' type="text">
               </div>
            </div>
            </div>
            <br>
            <h3 align="center">
               Emergency Contact Information
            </h3>
            <div class="rounded-solid-padded-borders">
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Name of Parent or Legal Guardian</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="ecNameTxt" name="emergencycontactname"
                     placeholder="Name" pattern="[A-Za-z].{2,}" title=" Example: Biology" 
                     required value='<%= application.emergencycontactname %>' type="text">
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Mailing address</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="ecAddressTxt" name="emergencycontactaddress" 
                     placeholder="Address" 
                     required value='<%= application.emergencycontactaddress %>' type="text">
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Contact City</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="ecCityTxt" name="emergencycontactcity" 
                     placeholder="City" pattern="[A-Za-z].{1,}"  title=" Example: Atlnata" 
                     type="text" required value='<%= application.emergencycontactcity %>'>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label" >Contact State</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="ecStateTxt" placeholder="State" pattern ="[A-Z]{2}" 
                     name="emergencycontactstate" title=" Example: GA" 
                     required value='<%= application.emergencycontactstate %>'>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Contact Zip Code</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="ecZipCodeTxt" name="emergencycontactzipcode" 
                     placeholder="Zip Code" pattern ="\d{5}([ \-]\d{4})?" 
                     title="Not a valid zipcode" 
                     required value='<%= application.emergencycontactzipcode %>' type="text">
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Contact Phone Number</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="ecPhone"
                     pattern="\d{3}[\-]\d{3}[\-]\d{4}" title="Please follow the format: xxx-xxx-xxxx" 
                     name="emergencycontactphone" placeholder="XXX-XXX-XXXX"  
                     required value='<%= application.emergencycontactphone %>' type="text">
               </div>
            </div>
            <div class="form-group">
               <label for="inputEmail" class="col-lg-5 control-label">Preferred Email Address</label>
               <div class="col-lg-5">
                  <input type="text" class="form-control" id="ecEmailTxt" name="emergencycontactemail"
                     placeholder="Email" pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/"
                     style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" autocomplete="off"
                     required value='<%= application.emergencycontactemail %>'>
               </div>
            </div>
            </div>
            <br>
            <h3 align="center">
               Mentor Information
            </h3>
            <div class="rounded-solid-padded-borders">
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Mentor Name</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="mentorNameTxt" name="mentorname" placeholder="Name" 
                     pattern="[A-Za-z].{2,}"  
                     required value='<%= application.mentorname %>' type="text">
               </div>
            </div>
            <div class="form-group">
            <label for="input" class="col-lg-5 control-label">Mentor Cell Phone Number</label>
            <div class="col-lg-5">
               <input class="form-control" rows="3" id="mentorCellTxt" name="mentorcellphone" 
                  placeholder="XXX-XXX-XXXX" pattern="\d{3}[\-]\d{3}[\-]\d{4}" 
                  title="Please follow the format: xxx-xxx-xxxx" 
                  required value='<%= application.mentorcellphone %>' type="text">
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Mentor Office Location</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="mentorOfficeTxt" name="mentoroffice" 
                     placeholder=" Ex: H-3241" title="Example: H-3241"
                     required value='<%= application.mentoroffice %>' type="text">
               </div>
            </div>
            <div class="form-group">
               <label for="inputEmail" class="col-lg-5 control-label">Mentor Email</label>
               <div class="col-lg-5">
                  <input type="text" class="form-control" id="mentorEmailTxt" name="mentoremail"  
                     placeholder="Email" pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" 
                     style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" autocomplete="off"
                     required value='<%= application.mentoremail %>'>
               </div>
            </div>
            </div>
            </div>
            <br>
            <h3 align="center">
               Internship Information
            </h3>
            <div class="rounded-solid-padded-borders">
               <div class="form-group">
                  <div class="form-inline">
                     <label for="select" class="col-lg-5 control-label">Please select the site you wish to apply to</label>
                     <div class="col-lg-5" class>
                        <select class="form-control" id="additionalInfoList" name="internsite" style="max-width: 500px">
                           <option value="Select">Select</option>
                           <option value="Other" >Other</option>
                           <option value="Greening Youth Foundation">Greening Youth Foundation</option>
                           <option value="Good Samaritan Health Center of Gwinnett" >Good Samaritan Health Center of Gwinnett</option>
                           <option value="Yerkes Regional Primate Research Center">Yerkes Regional Primate Research Center</option>
                           <option value="Covenant Health Pharmacy">Covenant Health Pharmacy</option>
                           <option value="Gwinnett County (Water Resources, Environmental Health and Police Departments)">Gwinnett County (Water Resources, Environmental Health and Police Departments)</option>
                           <option value="Consultorio Medico Hispano">Consultorio Medico Hispano</option>
                        </select>
                     </div>
                  </div>
               </div>
               <h3 align="center">If your internship site is not listed above, then please select "Other" and provide the proposed information for review.<br>
                  <br>
                  <strong>Note:</strong>  It is conflict of interest if you have a close personal or family relationship with a proposed preceptor 
                  and/or site manager/supervisor. Providing false information about connections between you and site staff would constitute a violation
                  of the GGC Honor Code (see policy on academic honesty).
               </h3>
            <div class="other">
               <br>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Name of Site</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="siteNameTxt" name="proposedsitename" 
                        placeholder="Site Name" type="text"
                        value='<%= application.proposedsitename %>'>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Specialty (pharmacy, medical practice, etc):</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="specialty" name="proposedsitespecialty" 
                        placeholder="Specialty" pattern="[A-Za-z].{2,}" title="Example: Pharmacy"  type="text"
                        value='<%= application.proposedsitespecialty %>'>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Site Street Address</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="psAddressTxt" name="proposedsiteaddress" 
                        placeholder="Address" type="text"
                        value='<%= application.proposedsiteaddress %>'>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Site City</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="psCityTxt" name="proposedsitecity" 
                        pattern="[A-Za-z].{1,}"  placeholder="City" title=" Example: Atlnata" type="text"
                        value='<%= application.proposedsitecity %>'>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Site State</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="psStateTxt" name="proposedsitestate" 
                        pattern="[A-Z]{2}"  placeholder="State" title="Invalid format ex: GA" 
                        title="Invalid format ex: GA" type="text"
                        value='<%= application.proposedsitestate %>'>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Site Zip Code</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="psZipCodeTxt" name="proposedsitezipcode" 
                        placeholder="Zip Code" pattern ="\d{5}([ \-]\d{4})?" title="Not a valid zipcode" type="text"
                        value='<%= application.proposedsitezipcode %>'>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Site Phone Number</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="psPhoneNumber"  name="proposedsitephone" placeholder="XXX-XXX-XXXX" 
                        pattern="\d{3}[\-]\d{3}[\-]\d{4}" title="Please follow the format: xxx-xxx-xxxx"
                        value='<%= application.proposedsitephone %>'>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Internship Manager</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="psManagerTxt" name="proposedsitemanagername" type="text"
                        value='<%= application.proposedsitemanagername %>'>
                  </div>
               </div>
               <div class="form-group">
                  <label for="inputEmail" class="col-lg-5 control-label">Manager Email</label>
                  <div class="col-lg-5">
                     <input type="text" class="form-control" id="psManagerEmail" placeholder="Email" 
                        pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" name="proposedsitemanageremail"
                        style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" autocomplete="off"
                        value='<%= application.proposedsitemanageremail %>'>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Title of Site Manager</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="psManagerTitleTxt" placeholder="Title" 
                        name="proposedsitemanagertitle" type="text"
                        value='<%= application.proposedsitemanagertitle %>'>
                  </div>
               </div>
            <br>
            <h3 align="center">
               Proposed Preceptor Information
            </h3>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Name of Proposed Preceptor</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="preceptorNameTxt" name="preceptorname" 
                     placeholder="Name" type="text"
                     value='<%= application.preceptorname %>'>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Preceptor Phone Number</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="preceptorPhoneTxt" name="preceptorphone" 
                     placeholder="XXX-XXX-XXXX" pattern="\d{3}[\-]\d{3}[\-]\d{4}" title="Please follow the format: xxx-xxx-xxxx"   type="text"
                     value='<%= application.preceptorphone %>'>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Preceptor Email Address</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="preceptorEmailTxt" name="preceptoremail" 
                     placeholder="Email" pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" type="text"
                     value='<%= application.preceptoremail %>'>
               </div>
            </div>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">Is this person a Manager?</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="preceptorManagerList" name="ispreceptormanager">
                        <option value="Select">Select</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Position of Proposed Preceptor</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="preceptorPositionTxt" name="preceptorpostition" type="text"
                  value='<%= application.preceptorpostition %>'>
               </div>
            </div>
            <br>
            </div>
            </div>
            <h3 align="center">
               Potential Student Employment Conflicts
            </h3>
            <div class="rounded-solid-padded-borders">
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">Are you currently employed at this site?</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="isStudentEmployedList" name="isstudentemployedatsite">
                        <option value="No">Select</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                     </select>
                  </div>
               </div>
            </div>
            <br/>
            <div class="employed">
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">What is your current position?</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="currentPosititionTxt" name="studentcurrentposition" type="text"
                        value='<%= application.studentcurrentposition %>'>
                  </div>
               </div>
               <div class="form-group">
                  <div class="form-inline">
                     <label for="select" class="col-lg-5 control-label">Is this a paid position?</label>
                     <div class="col-lg-5" class>
                        <select class="form-control" id="isPaidList" name="ispaidinternship">
                           <option value="Select">Select</option>
                           <option value="yes">Yes</option>
                           <option value="no">No</option>
                        </select>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">What is your current average work hours in a week?</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="averageHoursTxt" name="studenthoursworked" placeholder="Hours" pattern="^(0|[1-9][0-9]*)$" type="text"
                        value='<%= application.studenthoursworked %>'>
                  </div>
               </div>
               <div class="form-group">
                  <div class="form-inline">
                     <label for="select" class="col-lg-5 control-label">Are you willing to complete your internship hours at a separate time from your normal work hours?</label>
                     <div class="col-lg-5" class>
                        <select class="form-control" id="internquestion" name="isokseperatehours">
                           <option value="Select">Select</option>
                           <option value="yes">Yes</option>
                           <option value="no">No</option>
                        </select>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="form-inline">
                     <label for="select" class="col-lg-5 control-label">Do you have personal or family relationship with anyone employed at this potential internship site?</label>
                     <div class="col-lg-5" class>
                        <select class="form-control"  id="studentRelationshipList" name="doestudenthavefamilyatsite">
                           <option value="Select">Select</option>
                           <option value="yes">Yes</option>
                           <option value="no">No</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>
            </div>
            <br>
            <h3 align="center">
               Education Component
            </h3>
            <div class="rounded-solid-padded-borders">
            <h4 align="center">
               List 3 major educational objectives that you wish to achieve at the hosting facility. Educational objectives pertain to what you want to learn on-site.
            </h4>
            <h5 align="center">
               For example: 
               <div align ="left">
                  <ul>
                     <li>Effectively use problem solving techniques within the hospital environment and specific training area</li>
                     <li>Be able to analyze data and interpret results including, but not limited to blood tests, EKGs, X-rays, scans, and patient charts.</li>
                  </ul>
               </div>
            </h5>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">First</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="firstTxt" name="educomp1" type="text"
                     required value='<%= application.educomp1 %>'>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Second</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="secondTxt" name="educomp2" type="text"
                     required value='<%= application.educomp2 %>'>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Third</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="thirdTxt" name="educomp3" type="text"
                     required value='<%= application.educomp3 %>'>
               </div>
            </div>
            </div>
            <br>
            <h3 align="center">
               Signature and Review
            </h3>
            <div class="rounded-solid-padded-borders">
            <h4 align="center">
               I certify that the information contained in this application is true, correct, and complete. 
               I understand that, if employed, false statements reported on this application may be considered 
               sufficient cause for denial of a Biology Internship Experience and enrollment in the BIOL4800 Biology 
               Internship course.
            </h4>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Signature of applicant</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="signatureTxt" name="signature" type="text"
                     required value='<%= application.signature %>'>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Print name of applicant</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="printedTxt" name="printedname" type="text"
                     required value='<%= application.printedname %>'>
               </div>
            </div>
               <div align="center">
                  <button class="btn btn-success" type="submit" id="submitBtn">Update</button>
               </div>
            </div>
         </fieldset>
      </form>
      <% include partials/footerimports %>
      <script>
         makeOptionSelected('proposedInternSemesterList', '<%= application.proposedinternsemester %>');
         makeOptionSelected('proposedInternYearList', '<%= application.proposedinternyear %>');
         makeOptionSelected('concentrationList', '<%= application.major %>');
         makeOptionSelected('graduationSemesterList', '<%= application.expectedGraduationSemester %>');
         makeOptionSelected('graduationYearList', '<%= application.expectedGraduationYear %>');



         makeOptionSelected('additionalInfoList', '<%= application.internsite %>');
         makeOptionSelected('preceptorManagerList', '<%= application.ispreceptormanager %>');
         
         makeOptionSelected('isPaidList', '<%= application.ispaidinternship %>');
         makeOptionSelected('internquestion', '<%= application.isokseperatehours %>');
         makeOptionSelected('studentRelationshipList', '<%= application.doestudenthavefamilyatsite %>');
   
      </script>
      <script>
         $(function(){
         $('#isStudentEmployedList').change(function(){
           var opt = $(this).val();
            if(opt == 'Yes'){
                $('.employed').show();
            }else{
            	$('.employed').hide();
            }
         });
         });

         $(function(){
         $('#previouslyApplied').change(function(){
           var opt = $(this).val();
            if(opt == 'Yes'){
                $('.existing').show();
            }else{
            	$('.existing').hide();
              $('.other').hide();
              document.getElementById('additionalInfoList').value="Select";
            }
         });
         });


         if ($('#additionalInfoList').val() === 'Other') {
            $('.other').show();
         }
         else {
           $('.other').hide();
         }

         $(function(){
         $('#additionalInfoList').change(function(){
           var opt = $(this).val();
            if(opt == 'Other'){
                $('.other').show();
            }else{
            	$('.other').hide();
            }
         });
         });

        $(function () {
        $("#submitBtn").click(function () {
            var signature = $("#signatureTxt").val();
            var name = $("#printedTxt").val();
            if (signature != name) {
                alert("Please Make Sure Your Name and Signature Match");
                return false;
            }
            return true;
        });
    });
      </script>
      </div>
      </div>
   </body>
</html>
