<!-- views/editprofile.ejs -->
<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Edit Profile</title>
      <% include partials/headerimports %>
   </head>
   <body>
      <% include partials/nav.ejs %>   
      <div class="container">
      <div>
         <h1 align="center"><span class="fa fa-sign-in"></span> Edit Profile</h1>
         <% include partials/flashMessages.ejs %>
         <!-- LOGIN FORM -->
         <form name="editprofile" method="post" class="form-horizontal">
            <div class="form-group">
               <label for="input" class="col-lg-4 control-label">Student ID</label>
               <div class="col-lg-5">
                  <input type="text" class="form-control" id="studentIdTxt" name="studentid" minlength="6" pattern="900[0-9]{6}" title="Numbers only" required value=<%= profiledetails.local.studentid %>>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-4 control-label">First Name</label>
               <div class="col-lg-5">
                  <input type="text" class="form-control" id="fnameTxt" name="fname" required value=<%= profiledetails.local.fname %>>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-4 control-label">Last Name</label>
               <div class="col-lg-5">
                  <input type="text" class="form-control" id="lnameTxt" name="lname" required value=<%= profiledetails.local.lname %>>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-4 control-label">Address</label>
               <div class="col-lg-5">
                  <input type="text" class="form-control" id="addressTxt" name="address" required value='<%= profiledetails.local.address %>'>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-4 control-label">Phone Number</label>
               <div class="col-lg-5">
                  <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required value=<%= profiledetails.local.phone %>>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-4 control-label">City</label>
               <div class="col-lg-5">
                  <input type="text" class="form-control" id="cityTxt" name="city" title="Must not contain numbers" required value='<%= profiledetails.local.city %>'>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-4 control-label">State</label>
               <div class="col-lg-5">
                  <input type="text" class="form-control" id="stateTxt" name="state" pattern ="[A-Z]{2}" title="Invalid format ex: GA" required value=<%= profiledetails.local.state %>>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-4 control-label">Zip Code</label>
               <div class="col-lg-5">
                  <input type="text" class="form-control" id="zipcodeTxt" name="zipcode" pattern ="\d{5}([ \-]\d{4})?" title="Not a valid zipcode" required value=<%= profiledetails.local.zipcode %>>
               </div>
            </div>
<!--            <div class="form-group">-->
<!--               <div class="modal-contents">-->
<!--                  <div class="close">+</div>-->
<!--                  <br>-->
<!--                  <h3>Change Proposed Intern Date</h3>-->
<!--                  <form name="proposedinternsemester" action="/application/changeMultipleSemester" method="post">-->
<!--                     <div class="form-group" >-->
<!--                        <label>Internship Date</label>-->
<!--                        <select class="form-control" name="proposedinternsemester" id="semester">-->
<!--                           <option value="">Select semester</option>-->
<!--                           <option value="Fall" >Fall</option>-->
<!--                           <option value="Spring">Spring</option>-->
<!--                           <option value="Summer">Summer</option>-->
<!--                        </select>-->
<!--                     </div>-->
<!--                     <div class="form-group">-->
<!--                        <label>Internship Date</label>-->
<!--                        <select class="form-control" name="proposedinternyear" id="year">-->
<!--                           <option value="">Select Year</option>-->
<!--                           <option value="2021" >2021</option>-->
<!--                           <option value="2022">2022</option>-->
<!--                           <option value="2023">2023</option>-->
<!--                           <option value="2024" >2024</option>-->
<!--                        </select>-->
<!--                     </div>-->
<!--                     <input type="hidden" id= "checkedd" name="checkboxes">-->
<!--                     <button type="submit" class="btn btn-success btn-lg" id="submitBtn">Change Date</button>-->
<!--                  </form>-->
<!--               </div>-->
<!--            </div>-->
<!--            <div>-->
               <div align="center">
                  <button type="submit" id="submitBtn" class="btn btn-success">Update</button>
               </div>
         </form>
         </div>
      </div>
      <% include partials/footerimports %>
   </body>
</html>