<!-- views/edititec.ejs -->
<!DOCTYPE html>
<html>
   <head>
      <meta charset='utf-8'>
      <title>Edit ITEC Application</title>
      <% include partials/headerimports %>
      <style>
      .help-tip{
          position: absolute;
          bottom: 1880px;
          right: 100px;
          text-align: center;
          background-color: #4286f4;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          font-size: 14px;
          line-height: 26px;
          cursor: default;
        }

        .help-tip:before{
          content:'?';
          font-weight: bold;
          color:#fff;
        }

        .help-tip:hover p{
          display:block;
          transform-origin: 100% 0%;

          -webkit-animation: fadeIn 0.3s ease-in-out;
          animation: fadeIn 0.3s ease-in-out;

        }

        .help-tip p{	/* The tooltip */
          display: none;
          text-align: left;
          background-color: #1E2021;
          padding: 20px;
          width: 300px;
          position: absolute;
          border-radius: 3px;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
          right: -4px;
          color: #FFF;
          font-size: 13px;
          line-height: 1.4;
        }

        .help-tip p:before{ /* The pointer of the tooltip */
          position: absolute;
          content: '';
          width:0;
          height: 0;
          border:6px solid transparent;
          border-bottom-color:#1E2021;
          right:10px;
          top:-12px;
        }

        .help-tip p:after{ /* Prevents the tooltip from being hidden */
          width:100%;
          height:40px;
          content:'';
          position: absolute;
          top:-40px;
          left:0;
        }

        /* CSS animation */

        @-webkit-keyframes fadeIn {
          0% {
            opacity:0;
            transform: scale(0.6);
          }

          100% {
            opacity:100%;
            transform: scale(1);
          }
        }

      @keyframes fadeIn {
        0% { opacity:0; }
        100% { opacity:100%; }
      }
        </style>
   </head>
   <body>
      <% include partials/nav.ejs %>     
      <div class="container">
      <div class="col-sm-10 col-sm-offset-1">
      <br>
      <h1 align="center">
        ITEC Internship application
      </h1>
      <h4 align="center">
         Upon Receipt of the application, Dr. Pollacia will contact you to schedule
         an appointment.<br><br>
         Information will be used to determine if you will be accepted to participate in
         the internship program. Completion of this application does not guarantee your
         acceptance into the internship program and/or enrollment in ITEC 4900.
      </h4>
      <br>
      <form name="itecEdit" action="/edititec" method="post" class="form-horizontal" _lpchecked="1" onsubmit="myFunction()">
         <fieldset>
            <h2 align = "center">Contact Information</h2>
            <div class="rounded-solid-padded-borders">
            <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Cell Phone Number</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="phonenumberTxt" name="phonenumber" placeholder="XXX-XXX-XXXX"
                        pattern="\d{3}[\-]\d{3}[\-]\d{4}" title="Please follow the format: xxx-xxx-xxxx"
                        required value='<%= user.local.phone %>' type="text">
                  </div>
               </div>
            </div>
               <br>
            <h2 align = "center">Student Academic Information</h2>
            <div class="rounded-solid-padded-borders">
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">Desired Internship Semester and Year</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="proposedInternSemesterList" name="proposedinternsemester">
                        <option value="Select">Select</option>
                        <option value="Fall">Fall</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                     </select>
                     <select class="form-control yearSelect" id="proposedInternYearList" name="proposedinternyear" required type="number">
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">Expected Graduation Date</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="expectedGraduationSemesterList" name="expectedGraduationSemester" novalidate>
                        <option value="Select">Select</option>
                        <option value="Fall">Fall</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                     </select>
                     <select class="form-control yearSelect" id="expectedGraduationYearList" name="expectedGraduationYear" novalidate>
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">ITEC Concentration</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="majorList" name="major">
                        <option value="Select">Select</option>
                        <option value="Enterprise Systems">Enterprise Systems</option>
                        <option value="Software Development">Software Development</option>
                        <option value="Systems and Security">Systems and Security</option>
                        <option value="Digital Media">Digital Media</option>
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">Student Classification</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="classificiationList" name="classification" novalidate>
                        <option value="Select">Select</option>
                        <option value="Junior">Junior</option>
                        <option value="Senior">Senior</option>
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Overall GPA</label>
               <div class="col-lg-5">
                  <input class="form-control validateGPA" rows="3" id="gpaTxt" name="gpa" type="number" min=1 max=4 placeholder="Decimal" pattern="/^[0-4][.][0-9][0-9]$/" step="0.01"   required value='<%= application.gpa %>'>
               </div>
            </div>
            <div class="form-group">
               <div class="help-tip">
                  <!-- TODO: the tooltip spawns behind form. Unreadable. Fix this.
                  -->
                 <p>You can find your ITEC Major GPA by navigating to your Degree Works and locating your GPA under "Major in Info Tech" section.</p>
               </div>
               <label for="input" class="col-lg-5 control-label">ITEC Major GPA</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="itecGPATxt" name="itecgpa"  type="number"  min=1 max=4  placeholder="Decimal" pattern="/^[0-4][.][0-9][0-9]$/" step="0.01"    required value='<%= application.itecgpa %>'>
               </div>
            </div>
            <br>
            <h3 align="center">
               Please list the semester you have completed these pre-requisite courses
            </h3>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">ITEC 2150: Intermediate Programming</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="2150Sem" name="itec2150">
                        <option value="Select">Select</option>
                        <option value="Fall">Fall</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                     </select>
                        <select class="form-control" name="itec2150Year" id="2150Year">
                        <option value="Select">Select</option>
                        <option value="2000">2000</option>
                        <option value="2001">2001</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">ITEC 3100: Introduction to Networks</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="3100Sem" name="itec3100">
                        <option value="Select">Select</option>
                        <option value="Fall">Fall</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                     </select>
                     <select  class="form-control" name="itec3100Year" id="3100Year">
                        <option value="Select">Select</option>
                        <option value="2000">2000</option>
                        <option value="2001">2001</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">ITEC 3200: Introduction to Databases</label>
                  <div class="col-lg-5" class>
                     <select class="form-control select" id="3200Sem" name="itec3200">
                        <option value="Select">Select</option>
                        <option value="Fall">Fall</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                     </select>                       
                       <select  class="form-control" name="itec3200Year" id="3200Year">
                        <option value="Select">Select</option>
                           <option value="2000">2000</option>
                           <option value="2001">2001</option>
                           <option value="2002">2002</option>
                           <option value="2003">2003</option>
                           <option value="2004">2004</option>
                           <option value="2005">2005</option>
                           <option value="2006">2006</option>
                           <option value="2007">2007</option>
                           <option value="2008">2008</option>
                           <option value="2009">2009</option>
                           <option value="2010">2010</option>
                           <option value="2011">2011</option>
                           <option value="2012">2012</option>
                           <option value="2013">2013</option>
                           <option value="2014">2014</option>
                           <option value="2015">2015</option>
                           <option value="2016">2016</option>
                           <option value="2017">2017</option>
                           <option value="2018">2018</option>
                           <option value="2019">2019</option>
                           <option value="2020">2020</option>
                           <option value="2021">2021</option>
                           <option value="2022">2022</option>
                           <option value="2023">2023</option>
                           <option value="2024">2024</option>
                           <option value="2025">2025</option>
                           <option value="2026">2026</option>
                           <option value="2027">2027</option>
                           <option value="2028">2028</option>
                           <option value="2029">2029</option>
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">ITEC 3900: Professional Practice and Ethics</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="3900Sem" name="itec3900">
                        <option value="Select">Select</option>
                        <option value="Fall">Fall</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                     </select>
                       <select  class="form-control" name="itec3900Year" id="3900Year">
                        <option value="Select">Select</option>
                          <option value="2000">2000</option>
                          <option value="2001">2001</option>
                          <option value="2002">2002</option>
                          <option value="2003">2003</option>
                          <option value="2004">2004</option>
                          <option value="2005">2005</option>
                          <option value="2006">2006</option>
                          <option value="2007">2007</option>
                          <option value="2008">2008</option>
                          <option value="2009">2009</option>
                          <option value="2010">2010</option>
                          <option value="2011">2011</option>
                          <option value="2012">2012</option>
                          <option value="2013">2013</option>
                          <option value="2014">2014</option>
                          <option value="2015">2015</option>
                          <option value="2016">2016</option>
                          <option value="2017">2017</option>
                          <option value="2018">2018</option>
                          <option value="2019">2019</option>
                          <option value="2020">2020</option>
                          <option value="2021">2021</option>
                          <option value="2022">2022</option>
                          <option value="2023">2023</option>
                          <option value="2024">2024</option>
                          <option value="2025">2025</option>
                          <option value="2026">2026</option>
                          <option value="2027">2027</option>
                          <option value="2028">2028</option>
                          <option value="2029">2029</option>
                       </select>
                  </div>
               </div>
            </div>
            </div>
            <br>
            <h3 align="center">
               Mentor Information
            </h3>
            <div class="rounded-solid-padded-borders">
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Mentor Name</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="mentorNameTxt" name="mentorname" placeholder="Name"
                     pattern="[A-Za-z].{2,}" required title=" Example: Brannock"
                     required value='<%= application.mentorname %>' type="text">
               </div>
            </div>
            </div>
            <br>
            <h3 align="center">
               Student internships interests and goals
            </h3>
            <div class="rounded-solid-padded-borders">
            <div class="form-group">
               <label for="textArea" class="col-lg-5 control-label">Decribe your major interests and strengths</label>
               <div class="col-lg-5">
                  <textarea class="form-control" rows="5" id="interestTxt" name="interestsandstrengths" required><%= application.interestsandstrengths %></textarea>
               </div>
            </div>
            <div class="form-group">
               <label for="textArea" class="col-lg-5 control-label">What type of internship are you looking for, such as software development, security, SAP, database, etc</label>
               <div class="col-lg-5">
                  <textarea class="form-control" rows="5" id="typeofinternship" name="typeofinternship" required><%= application.typeofinternship %></textarea>
               </div>
            </div>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">Are you interested in an internship focused mainly on Programming and Software Development?</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" name="focusonsoftdev" id="softwareDevList" novalidate>
                        <option value="Select">Select</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                     </select>
                  </div>
               </div>
            </div>
            </div>
            <br>
            <h3 align="center">
               Internship Information
            </h3>
            <div class="rounded-solid-padded-borders">
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">Do you have a proposed internship with a company or organization?</label>
                  <div class="col-lg-5">
                     <select class="form-control" name="haveproposedintern" id="proposedList" novalidate>
                        <option value="Select">Select</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                     </select>
                  </div>
               </div>
            </div>
            <br>
            <div class="existing">
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Name of Organization</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="orgNameTxt" name="proposedorgname" type="text"
                        value='<%= application.proposedorgname %>'>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Focus (software development, security, networking, etc)</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="focusTxt" name="itecfocus" type="text"
                        value='<%= application.itecfocus %>'>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Organization Street Address</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="orgAddressTxt" name="proposedorgaddress" type="text"
                        value='<%= application.proposedorgaddress %>'>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Organization City</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="orgCityTxt" pattern="[A-Za-z].{1,}"
                        title=" Example: Atlnata" name="proposedorgcity" type="text"
                        value='<%= application.proposedorgcity %>'>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Organization State</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="orgStateTxt" name="proposedorgstate" pattern="[A-Z]{2}"
                        title="Invalid format ex: GA" type="text"
                        value='<%= application.proposedorgstate %>'>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Organization Zip Code</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="orgZipTxt" name="proposedorgzipcode" pattern="\d{5}([ \-]\d{4})?"
                        title="Not a valid zipcode" type="text"
                        value='<%= application.proposedorgzipcode %>'>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Organization Phone Number</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="orgPhoneTxt" name="proposedorgphone" pattern="\d{3}[\-]\d{3}[\-]\d{4}"
                        title="Please follow the format: xxx-xxx-xxxx" type="text"
                        value='<%= application.proposedorgphone %>'>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Internship Manager</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="orgManagerTxt" name="proposedorgmanager" type="text"
                        value='<%= application.proposedorgmanager %>'>
                  </div>
               </div>
               <div class="form-group">
                  <label for="inputEmail" class="col-lg-5 control-label">Manager Email</label>
                  <div class="col-lg-5">
                     <input type="text" class="form-control" id="managerEmail" name="proposedorgmanageremail" placeholder="Email" pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/"
                        style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" autocomplete="off"
                        value='<%= application.proposedorgmanageremail %>'>
                  </div>
               </div>
               <h3 align="center">
                  Potential Student Employment Conflicts
               </h3>
               <div class="form-group">
                  <div class="form-inline">
                     <label for="select" class="col-lg-5 control-label">Are you currently employed at this potential internship site?</label>
                     <div class="col-lg-5" class>
                        <select class="form-control" name="isemployedatsite" id="isEmployedList" novalidate>
                           <option value="Select">Select</option>
                           <option value="Yes">Yes</option>
                           <option value="No">No</option>
                        </select>
                     </div>
                  </div>
               </div>
               <div class="employed">
                  <div class="form-group">
                     <label for="input" class="col-lg-5 control-label">What is your current position?</label>
                     <div class="col-lg-5">
                        <input class="form-control" rows="3" id="currentPositionTxt" name="employedcurrentposition" type="text"
                        value='<%= application.employedcurrentposition %>'>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form-inline">
                        <label for="select" class="col-lg-5 control-label">Is this a paid position?</label>
                        <div class="col-lg-5" class>
                           <select class="form-control" id="isPaidList" name="ispaidposition">
                              <option value="Select">Select</option>
                              <option value="yes">Yes</option>
                              <option value="no">No</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="input" class="col-lg-5 control-label">What is your current average work hours in a week?</label>
                     <div class="col-lg-5">
                        <input class="form-control" rows="3" id="workHoursTxt" name="numberofhoursworked" type="text"
                            value='<%= application.numberofhoursworked %>'>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form-inline">
                        <label for="select" class="col-lg-5 control-label">Will this internship represent a substantial project to be completed, separate from your normal work duties?</label>
                        <div class="col-lg-5" class>
                           <select class="form-control" id="separateProjectList" name="isseparateproject">
                              <option value="Select">Select</option>
                              <option value="yes">Yes</option>
                              <option value="no">No</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form-inline">
                        <label for="select" class="col-lg-5 control-label">Are you willing to complete your internship hours at a separate time from your normal work hours?</label>
                        <div class="col-lg-5" class>
                           <select class="form-control" id="separateHoursList" name="isseparatehours">
                              <option value="Select">Select</option>
                              <option value="yes">Yes</option>
                              <option value="no">No</option>
                           </select>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            </div>
            <br>
            <h3 align="center">
               Signature and Review
            </h3>
            <div class="rounded-solid-padded-borders">
            <h4 align="center">
               I certify that the information contained in this application is true, correct, and complete. I understand that false statements reported on this application may be considered sufficient cause for denial of internship.
            </h4>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Signature of applicant</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="signatureTxt" name="signature"
                     required value='<%= application.signature %>'
                     type="text">
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Re-enter signature</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="printedTxt" name="printedname"
                     required value='<%= application.printedname %>'
                     type="text">
               </div>
            </div>
         <div align="center">
             <button class="btn btn-success" type="submit" id="updateBtn">Update</button>&nbsp;&nbsp;<a class="btn btn-success" href="/home" id="cancelBtn">Cancel</a>
         </div>
            </div>
      </form>
      <% include partials/footerimports %>
      <script>
      makeOptionSelected('proposedInternYearList', '<%= application.proposedinternyear %>')
      makeOptionSelected('proposedInternSemesterList', '<%= application.proposedinternsemester %>')
      makeOptionSelected('expectedGraduationYearList', '<%= application.expectedGraduationYear %>')
      makeOptionSelected('classificiationList', '<%= application.classification %>')
      makeOptionSelected('expectedGraduationSemesterList', '<%= application.expectedGraduationSemester %>')
      makeOptionSelected('majorList', '<%= application.major %>')

      makeOptionSelected('2150Sem', '<%= application.itec2150 %>')
      makeOptionSelected('2150Year', '<%= application.itec2150Year %>')

      makeOptionSelected('3100Sem', '<%= application.itec3100 %>')
      makeOptionSelected('3100Year', '<%= application.itec3100Year %>')

      makeOptionSelected('3200Sem', '<%= application.itec3200 %>')
      makeOptionSelected('3200Year', '<%= application.itec3200Year %>')

      makeOptionSelected('3900Sem', '<%= application.itec3900 %>')
      makeOptionSelected('3900Year', '<%= application.itec3900Year %>')
      
      makeOptionSelected('softwareDevList', '<%= application.focusonsoftdev %>')
      makeOptionSelected('proposedList', '<%= application.haveproposedintern %>')
      makeOptionSelected('isEmployedList', '<%= application.isemployedatsite %>')
      makeOptionSelected('separateProjectList', '<%= application.isseparateproject %>')
      makeOptionSelected('separateHoursList', '<%= application.isseparatehours %>')
      </script>
<script>
   if ($('#proposedList').val() == 'No'){
      $('.existing').hide();
   }

   $(function(){
       $('#proposedList').change(function(){
          var opt = $(this).val();
           if(opt == 'Yes'){
               $('.existing').show();
           }else{
           	$('.existing').hide();
             $('.employed').hide();
             //document.getElementById('isEmployedList').value="Select";
           }
       });
   });

   if ($('#isEmployedList').val() == 'No'){
      $('.employed').hide();
   }

   $(function(){
       $('#isEmployedList').change(function(){
          var opt = $(this).val();
           if(opt == 'Yes'){
               $('.employed').show();
           }else{
           	$('.employed').hide();
           }
       });
   });

           $("#updateBtn").click(function () {
            var signature = $("#signatureTxt").val();
            var name = $("#printedTxt").val();
            if (signature != name) {
                alert("Please Make Sure Your Name and Signature Match");
                return false;
            }
            return true;
        });
</script>
</body>
</html>
