<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>GGC Internship Signup</title>
<% include partials/headerimports %>
</head>
<body>
  <% include partials/nav.ejs %>
    <div class="container">
     <h1>Welcome <%= user.fname %>!</h1>
     <% if (user.role == 'admin' || user.role == 'instructor') { %>
        <a href="/adminhome" class="btn btn-success">Go to admin/instructor home!</a>
     <% } %>
     <% include partials/flashMessages.ejs %>
     <h3>Thank you for visiting the GGC Intern Application!</h3>

     <!-- First time applying (they can see both sections ) -->
     <% if (!bioApp && !itecApp) { %>
        <h3>Please Select a Program to Apply For:</h3>
        <div class="homePageSection" id="initialApplySection">
                <div class="dropdown show">
                    <div class="dropdown col-lg-5">
                    <select class="form-control" id="application" name="application">
                           <option value="Select">Select</option>
                           <option value="Bio">Biology Internship (BIOL 4800)</option>
                           <option value="Itec">Information Technology Internship (ITEC 4900)</option>
                    </select>
                    </div>

                    <div class="bio">
                        <br/>
                        <br/>
                        <h3>Steps to apply for the Biology Internship (BIOL 4800) program:</h3>
                        <ul>
                            <li><h4>Complete Application <font color="red">*Required</font></h4></li>
                            <li><h4>Complete and Upload Essay <font color="red">*Required</font></h4></li>
                            <li><h4>Upload Transcript <font color="red">*Required</font></h4></li>
                            <li><h4>Preceptor Application <font color="red">*Required IF planning to build your own internship</font></h4></li>
                        </ul>
                        <div class="disclaimer">
                        Disclaimer: This application site was developed by student Software Development teams.
                        It collects student information for the sole purpose of assisting students in finding Biology internships and to enroll in BIOL 4800.
                        I understand that this site is not a part of the official GGC web site.
                        If you do not wish to apply using this site, you may fill out a paper application which can be found at
                        <a href="https://my.ggc.edu/group/guest/sst-internships">Application for Biology Internship</a>, and scroll down to Biology Internship to download the form.
                             You will then, complete the form in Word and submit the complete and typed application packet to the SST Office in H-3209. If you have any difficulty, please contact Dr. Hammonds-Odie at <a href="mailto:lhammond@ggc.edu" target="_top">lhammond@ggc.edu</a>.
                        <br/>
                        <br/>
                            <label for="bioBox">By clicking here, I verify that I have read and understand this disclaimer:</label>
                            <input type="checkbox" id="bioBox">
                        </div>
                        <br />
                        <input class="btn btn-success" type="submit" value="Apply Now"  id="bioApply" onclick="window.location.href='/bio'" disabled
                        title="Please verify that you have read and understood the disclaimer."/>
                    </div>
                    <div class="itec">
                        <br/>
                        <br/>
                        <h3>Steps to apply for the Information Technology Internship (ITEC 4900) program:</h3>
                        <ul>
                            <li><h4>Complete Application</h4></li>
                            <li><h4>Upload Resume</h4></li>
                            <li><h4>Fill out and Upload FERPA Form</h4></li>
                        </ul>
                        <div class="disclaimer">
                        Disclaimer: This application site was developed by student Software Development teams.
                        It collects student information for the sole purpose of assisting students in finding ITEC internships and to enroll in ITEC 4900.
                        I understand that this site is not a part of the official GGC web site.
                        If you do not wish to apply using this site, you may fill out a paper application which can be found at <a href="http://www.ggc.edu/academics/schools/school-of-science-and-technology/docs/ITEC-internship-application.docx">Application for ITEC Internship (MS Word doc)</a> to download the form.
                        You will then print, fill out and return to Dr. Pollacia in C-2239.
                        <br/>
                        <br/>
                            <label for="itBox">By clicking here, I verify that I have read and understand this disclaimer:</label>
                            <input type="checkbox" id="itBox">
                        </div>
                        <br/>
                        <input class="btn btn-success" type="submit" value="Apply Now"  id="itApply" onclick="window.location.href='/itec'" disabled
                        title="Please verify that you have read and understood the disclaimer."/>
                    </div>
                </div>
            </div>
         </div>
         <br/>
         <br/>
         <% } %>
         <!-- If they have a bio or itec application submitted -->
         <% if (bioApp || itecApp) { %>
         <% if (bioApp) { %>
         <div class="bioApplied">
            <h3>Steps to apply for the Biology Internship (BIOL 4800) program:</h3>
            <ul>
               <li>
                  <h4>Complete Application</h4>
               </li>
               <li>
                  <h4>Complete and Upload Essay</h4>
               </li>
               <li>
                  <h4>Upload Transcript</h4>
               </li>
            </ul>
            <br>
             <h3>Deadlines for Biology Internship (BIOL 4800) program:</h3>
             <ul>
                 <li>
                     <h4>Deadline for Spring internship: 4th Friday in October by 5:00 pm</h4>
                 </li>
                 <li>
                     <h4>Deadline for Summer internship: 4th Friday in March by 5:00 pm</h4>
                 </li>
                 <li>
                     <h4>Deadline for Fall internship: 4th Friday in June 4th by 5:00 pm</h4>
                 </li>
             </ul>
             <br>
         </div>
         <% } %>
         <% if (itecApp) { %>
         <div class="itecApplied">
            <h3>Steps to apply for the Information Technology Internship (ITEC 4900) program:</h3>
            <ul>
               <li>
                  <h4>Complete Application</h4>
               </li>
               <li>
                  <h4>Upload Resume</h4>
               </li>
               <li>
                  <h4>Fill out and Upload FERPA Form</h4>
               </li>
            </ul>
            <br/>
         </div>
         <% } %>
         <div class="homePageSection" id="applicationTableOnHomePage">
            <h3>Application table</h3>
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Application Status</th>
                     <th>Program</th>
                     <th>Last Updated</th>
                     <th>View Application Details</th>
                     <th>Edit</th>
                  </tr>
               </thead>
               <tbody>
                  <% applications.forEach(function(application) { %>
                  <tr>
                     <td><%= application.applicationstatus %></td>
                     <td><%= application.userdiscipline %></td>
                     <td><%= application.lastupdated %></td>
                     <td><a href="/application/<%= application.userdiscipline %>/<%= application._id %>"><span class='glyphicon glyphicon-search'></span></a></td>
                     <td><a href="/edit<%= application.userdiscipline %>"><span class='glyphicon glyphicon-pencil'></span></a></td>
                  </tr>
                  <% }); %>
               </tbody>
            </table>
            <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#appFeedbackModal">View Application Feedback</button>
            <div class="modal fade" id="appFeedbackModal" role="dialog">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Application Feedback</h4>
                     </div>
                     <div class="modal-body">
                        <table class="table table-hover">
                           <thead>
                              <tr>
                                 <th>Program</th>
                                 <th>Note</th>
                                 <th>Entered By</th>
                                 <th>Date</th>
                              </tr>
                           </thead>
                           <tbody>
                              <% applications.forEach(function(application) { %>
                              <% application.feedback.forEach(function(feedbackEntry) { %>
                              <tr>
                                 <td><%=application.userdiscipline %></td>
                                 <td><%=feedbackEntry.feedback %></td>
                                 <td><%=feedbackEntry.user %></td>
                                 <td><%=feedbackEntry.prettyFeedbackDate %></td>
                              </tr>
                              <% }); %>
                              <% }); %>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <% } %>
         <!-- Show the uploads for ITEC if they have an ITEC application submitted -->
         <% if (itecApp) { %>



            <div class="homePageSection" id="itecDocumentUploadSectionOnHomePage">
            <h3>ITEC Uploads</h3>
            <div class="uploadBox" id="itecBox">
                <form action="/uploadItecResume"
                      method="POST" enctype="multipart/form-data"
                      class="form-inline"
                      ref="uploadForm"
                      id="uploadForm1">
                  <div class="form-group">
                     <input type="file"  name="itecResume" class="custom-file-input">
                  </div>
                  <div class="form-group">
                     <input type='submit' id="uploadResume" class="btn btn-success btn-sm" value='Upload Resume!' disabled
                        title="Please Click 'Choose File' First, Then Click 'Upload Resume' To Upload Resume"/>
                     <a target="_blank" title="Please Click 'Choose File' First, Then Click 'Upload Resume' To Upload Resume">
                     <i class="glyphicon glyphicon-question-sign" title="Please upload the resume you wish Dr. Pollacia to distribute. Please ensure that your resume has been critiqued by the career development and advising center at GGC, and that it is a PDF or .DOCX format." data-toggle="tooltip"></i></a>
                  </div>


               </form>
               <form ref='uploadForm'
                  id='uploadForm2'
                  action='/uploadItecFerpa'
                  method='post'
                  encType="multipart/form-data"
                  class="form-inline">
                  <div class="form-group">
                     <input type="file" name="itecFerpa" />
                  </div>
                  <div class ="form-group">
                     <input type='submit' id="uploadFERPA" class="btn btn-success btn-sm" value='Upload FERPA!' disabled
                        title="After Downloading FERPA, Please Click 'Choose File' First, Then Click 'Upload FERPA!' To Upload The FERPA File"/>
                     <a target="_blank" title="After Downloading FERPA, Please Click 'Choose File' First, Then Click 'Upload FERPA!' To Upload The FERPA File">
                     <i class="glyphicon glyphicon-question-sign" title="Click the below link to download the FERPA document. After filling out the FERPA document, select it via the 'Choose File' button, and then select 'Upload FERPA!'. After uploading the document your upload will be recorded in your document uploads table below." data-toggle="tooltip"></i></a>
                  </div>
                  <br>
                  <a href="/downloadFerpa">Click here to download the FERPA document</a>
               </form>

               <form ref='uploadForm'
                  id='uploadForm6'
                  action='/uploadItecOther'
                  method='post'
                  encType="multipart/form-data"
                  class="form-inline">
                  <div class="form-group">
                     <input type="file" name="itecOther" />
                  </div>
                  <div class ="form-group">
                     <label for="itecOtherName">What is the file you're uploading?</label>
                     <input type='text' name="itecOther" placeholder="What is the file?" id="itecOtherName" required/>
                     &nbsp;&nbsp;
                     <input type='submit' id="uploadItecOther" class="btn btn-success btn-sm" value='Upload Other!' disabled
                        title=""/>
                     <a target="_blank" title="Need to update">
                     <i class="glyphicon glyphicon-question-sign" title="Use this upload box for any additional forms you may need to upload for your ITEC application." data-toggle="tooltip"></i></a>
                  </div>
               </form>
            </div>
         </div>
         <% } %>
         <!-- Show the uploads for BIO if they have an BIO application submitted -->
         <% if (bioApp) { %>
         <div class="homePageSection" id="bioDocumentUploadSectionOnHomePage">
            <h3>BIO Uploads</h3>
            <div class="uploadBox" id="bioBox">
               <form ref='uploadForm'
                  id='uploadForm3'
                  action='/uploadBioEssay'
                  method='post'
                  encType="multipart/form-data"
                  class="form-inline">
                  <div class="form-group">
                     <input type="file"  name="bioEssay" />
                  </div>
                  <div class="form-group">
                     <input type='submit' id="uploadEssay" class="btn btn-success btn-sm" value='Upload Essay!' disabled
                        title="Please Click 'Choose File' First, Then Click 'Upload Essay!' To Upload Essay"/>
                     <a target="_blank">
                     <i class="glyphicon glyphicon-question-sign" title="Please use up to ONE page to describe how the internship experience at your proposed location will help you to achieve your career goals. Please list the name of the site you're applying to at the top of the page." data-toggle="tooltip"></i></a>
                  </div>
               </form>
               <form ref='uploadForm'
                  id='uploadForm4'
                  action='/uploadBioTranscript'
                  method='post'
                  encType="multipart/form-data"
                  class="form-inline">
                  <div class="form-group">
                     <input type="file" name="bioTranscript" />
                  </div>
                  <div class ="form-group">
                     <input type='submit' id="uploadTranscript" class="btn btn-success btn-sm" value='Upload Transcript!' disabled/>
                     <a target="_blank">
                     <i class="glyphicon glyphicon-question-sign" title="Please upload a PDF of your unofficial academic transcript. To obtain a PDF of your unofficial academic transcript, open Google Chrome (can be done similarily in other browsers) -> log into banner -> select Student tab -> select View Student Record -> select Unofficial Academic Transcript -> select Submit -> Right click page and select print -> Change destination to Save as PDF (underneath Local Destinations) -> Select Print -> Save and upload the PDF file" data-toggle="tooltip"></i></a>
                  </div>
               </form>
               <form ref='uploadForm'
                  id='uploadForm5'
                  action='/uploadBioOther'
                  method='post'
                  encType="multipart/form-data"
                  class="form-inline">
                  <div class="form-group">
                     <input type="file" name="bioOther" />
                  </div>
                  <div class ="form-group">
                     <label for="bioOtherName">What is the file you're uploading?</label>
                     <input type='text' name="bioOther" placeholder="What is the file?" id="bioOtherName" required/>
                     &nbsp;&nbsp;
                     <input type='submit' id="uploadBioOther" class="btn btn-success btn-sm" value='Upload Other!' disabled
                        title="Need to update"/>
                        <a target="_blank">
                     <i class="glyphicon glyphicon-question-sign" title="Use this upload box for any additional forms you may need to upload for your BIO application." data-toggle="tooltip"></i></a>
                  </div>
               </form>
            </div>
         </div>
         <% } %>
         <!-- If the user has documents uploaded, display the document upload table -->
         <% if (documents.length > 0) { %>
         <div class="homePageSection" id="documentTableOnHomePage">
            <h3>Document Uploads table</h3>
             <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Document Status</th>
                     <th>Name</th>
                     <th>Program</th>
                     <th>File Type</th>
                     <th>Date Submitted</th>
                     <th>View Document Details</th>
                     <th>Download Document</th>
                     <th>Delete Document</th>
                  </tr>
               </thead>
               <tbody>
                  <% documents.forEach(function(document) { %>
                  <tr>
                     <td><%= document.documentStatus %></td>
                     <td><%= document.documentName %></td>
                     <td><%= document.fileSection %></td>
                     <td><%= document.fileType %></td>
                     <td><%= document.prettyUploadDate %></td>
                     <td><a href="/document/<%= document._id%>"><span class='glyphicon glyphicon-search'></span></a></td>
                      <td><a href="/getFiles/<%= document.fileId%>/<%= document.documentName%>"><span class='glyphicon glyphicon-download'></span></a></td>
                      <td><a href="/document/<%= document._id%>/<%= document.fileId%>/delete"><span class='glyphicon glyphicon-trash'></span></a></td>

                  </tr>
                  <% }); %>
               </tbody>
            </table>
             </div>
            <button class="btn btn-success" type="button" href="#docFeedbackModal" data-toggle="modal" type="display">View Document Feedback</button>
            <div class="modal fade" id="docFeedbackModal" role="dialog">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Document Feedback</h4>
                     </div>
                     <div class="modal-body">
                        <table class="table table-hover">
                           <thead>
                              <tr>
                                 <th>Name</th>
                                 <th>Type</th>
                                 <th>Note</th>
                                 <th>Entered By</th>
                                 <th>Date</th>
                              </tr>
                           </thead>
                           <tbody>
                              <% documents.forEach(function(document) { %>
                              <% document.feedback.forEach(function(feedbackEntry) { %>
                              <tr>
                                 <td><%=document.documentName %></td>
                                 <td><%=document.fileType %></td>
                                 <td><%=feedbackEntry.feedback %></td>
                                 <td><%=feedbackEntry.user %></td>
                                 <td><%=feedbackEntry.prettyFeedbackDate %></td>
                              </tr>
                              <% }); %>
                              <% }); %>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <% } %>
         <!-- If the user has submitted applications for either ITEC or BIO -->
         <% if ( (itecApp || bioApp) && !( itecApp && bioApp ) ) { %>
         <div class="homePageSection" id="secondApplySection">
            <br>
             <h3>Select a Program to Apply For:</h3>
            <div class="dropdown show">
               <div class="dropdown col-lg-5">
                  <select class="form-control" id="application" name="application">
                     <option value="Select">Select</option>
                     <% if (!bioApp) { %>
                     <option value="Bio">Biology Internship (BIOL 4800)</option>
                     <% } %>
                     <% if (!itecApp) { %>
                     <option value="Itec">Information Technology Internship (ITEC 4900)</option>
                     <% } %>
                  </select>
               </div>
               <div class="bio">
                  <br/>
                  <br/>
                  <h3>Steps to Complete Bio App:</h3>
                  <ul>
                     <li>
                        <h4>Complete Application</h4>
                     </li>
                     <li>
                        <h4>Complete and Upload Essay</h4>
                     </li>
                     <li>
                        <h4>Upload Transcript</h4>
                     </li>
                  </ul>
                  <br/>
                  <a class="btn btn-success" href="/bio">Apply Now</a>
               </div>
               <div class="itec">
                  <br/>
                  <br/>
                  <h3>Steps to Apply for Itec:</h3>
                  <ul>
                     <li>
                        <h4>Complete Application</h4>
                     </li>
                     <li>
                        <h4>Upload Resume</h4>
                     </li>
                     <li>
                        <h4>Fill out and Upload FERPA Form</h4>
                     </li>
                  </ul>
                  <br/>
                  <a class="btn btn-success" href="/itec">Apply Now</a>
               </div>
            </div>
         </div>
      <% } %>

      <% include partials/footerimports %>
      <script>
         $(document).ready(function() {

             $('[data-toggle="tooltip"]').tooltip();

             $("#itBox").on('click', function(){
                if ( $(this).is(':checked') ) {
                     $('#itApply').attr('disabled', false);
                }
                else {
                    $('#itApply').attr('disabled', true);
                }
             });

             $("#bioBox").on('click', function(){
                if ( $(this).is(':checked') ) {
                     $('#bioApply').attr('disabled', false);
                }
                else {
                    $('#bioApply').attr('disabled', true);
                }
            });

            $('.bio').hide();
            $('.itec').hide();
                    $('#application').change(function(){
                    var opt = $(this).val();
                        if(opt == 'Bio'){
                            $('.bio').show();
                            $('.itec').hide();
                        }else if(opt=='Itec'){
                            $('.bio').hide();
                            $('.itec').show();
                        }else{
                            $('.itec').hide();
                        $('.bio').hide();
                        }
                });

            var button1 = $("#uploadForm1"),
            submitButt1 = $("#uploadResume");

            button1.on("click",function(e) {
                submitButt1.prop("disabled",false);
            });

                var button2 = $("#uploadForm2"),
            submitButt2 = $("#uploadFERPA");

            button2.on("click",function(e) {
                submitButt2.prop("disabled",false);
            });

                var button3 = $("#uploadForm3"),
            submitButt3 = $("#uploadEssay");

            button3.on("click",function(e) {
                submitButt3.prop("disabled",false);
            });

                var button4 = $("#uploadForm4"),
            submitButt4 = $("#uploadTranscript");

            button4.on("click",function(e) {
                submitButt4.prop("disabled",false);
            });

            var button5 = $("#uploadForm5");
            submitButt5 = $("#uploadBioOther");

            button5.on("click", function(e) {
                submitButt5.prop("disabled", false);
            });

            var button6 = $("#uploadForm6");
            submitButt6 = $("#uploadItecOther");

            button6.on("click", function(e) {
                submitButt6.prop("disabled", false);
            });
         });
      </script>
   </body>
</html>
