<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>GGC Internship Signup</title>
<% include partials/headerimports %>
</head>
<body>
    <% include partials/nav.ejs %>
    <div class="container">
     <h1>Welcome <%= user.fname %>!</h1>

     <% if (successMessage.length > 0) { %>
            <div id="snackbarSuccess"><%= successMessage %></div>
            <script type="text/javascript">
                                function failSnack() {
                    var x = document.getElementById("snackbarSuccess")
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
                }

                failSnack();
            </script>
     <% } %>
     <% if (failureMessage.length > 0) { %>
            <div id="snackbarFailure"><%= failureMessage %></div>
            <script type="text/javascript">
                                function successSnack() {
                    var x = document.getElementById("snackbarFailure")
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
                }

                successSnack();
            </script>
     <% } %>

     <!-- First time applying (they can see both sections ) -->
     <% if (!bioApp && !itecApp) { %>
        <h3>Thank you for visiting the GGC Intern Application!</h3>
        <h3>Please Select an Internship to Apply For:</h3>
        <div class="homePageSection" id="initialApplySection">
                <div class="dropdown show"> 
                    <div class="dropdown col-lg-5">
                    <select class="form-control" id="application" name="application">
                           <option vaule="Select">Select</option>
                           <option value="Bio">Biology Internship (BIO 4800)</option>
                           <option value="Itec">Information Technology Internship (ITEC 4800)</option>
                    </select>
                    </div>

                    <div class="bio">
                        <br/>
                        <br/>
                        <h3>Steps to Complete Bio App:</h3>
                        <ul>
                            <li><h4>Complete Application</h4></li>
                            <li><h4>Complete and Upload Essay</h4></li>
                            <li><h4>Upload Transcript</h4></li>
                        </ul>
                        <br/>
                        <a class="btn btn-success" href="/bio">Apply Now</a>
                    </div>
                    <div class="itec">
                        <br/>
                        <br/>
                        <h3>Steps to Apply for Itec:</h3>
                        <ul>
                            <li><h4>Complete Application</h4></li>
                            <li><h4>Upload Resume</h4></li>
                            <li><h4>Fill out and Upload FERPA Form</h4></li>
                        </ul>
                        <br/>
                        <a class="btn btn-success" href="/itec">Apply Now</a>
                    </div>
                    <!--<button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Select the program you wish to apply to
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="/bio">Biology Internship (BIO 4800)</a></li>
                        <li><a href="/itec">Information Technology Internship (ITEC 4800)</a></li>
                    </ul>-->
                </div>
            </div>

     <% } %>
     <br/>
     <br/>
     <!-- If they have a bio or itec application submitted -->
     <% if (bioApp || itecApp) { %>
        <div class="homePageSection" id="applicationTableOnHomePage">
        <h3>Application table</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                <th>Application Status</th>
                <th>Section</th>
                <th>Last Updated</th>
                <th>View Application Details</th>
                <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <% applications.forEach(function(application) { %>
               <tr>
                  <td><%= application.applicationstatus %></td>
                  <td><%= application.userdiscipline %></td>  
                  <td><%= application.lastupdated %></td>
                  <td><a href="/application/<%= application.userdiscipline %>/<%= application._id %>"><span class='glyphicon glyphicon-search'></span></a></td>
                  <td><a href="/edit<%= application.userdiscipline %>"><span class='glyphicon glyphicon-pencil'></span></a></td>
               </tr>
               <% }); %>
            </tbody>
        </table>
        <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#appFeedbackModal">View Application Feedback</button>
        
            <div class="modal fade" id="appFeedbackModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Application Feedback</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th>Section</th>
                                <th>Note</th>
                                <th>Entered By</th>
                                <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% applications.forEach(function(application) { %>
                                <% application.feedback.forEach(function(feedbackEntry) { %>
                                <tr>
                                    <td><%=application.userdiscipline %></td>
                                    <td><%=feedbackEntry.feedback %></td>  
                                    <td><%=feedbackEntry.user %></td>
                                    <td><%=feedbackEntry.prettyFeedbackDate %></td>
                                </tr>
                                <% }); %>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
     </div>
     <% } %>

     <!-- Show the uploads for ITEC if they have an ITEC application submitted -->     
     <% if (itecApp) { %>
        <div class="homePageSection" id="itecDocumentUploadSectionOnHomePage">
            <h3>ITEC Uploads</h3>
            <div class="form-group">
            </div>
            <div class="uploadBox" id="itecBox">
                <form ref='uploadForm'
                id='uploadForm'
                action='/uploadItecResume'
                method='post'
                encType="multipart/form-data"
                class="form-inline">
                <div class="form-group">
                    <input type="file"  name="resume" />
                </div>
                <div class="form-group">
                    <input type='submit' class="btn btn-success btn-sm" value='Upload Resume!' />
                </div>
                </form>
                <form ref='uploadForm'
                id='uploadForm'
                action='/uploadItecFerpa'
                method='post'
                encType="multipart/form-data"
                class="form-inline">
                <div class="form-group">
                    <input type="file" name="ferpa" />
                </div>
                <div class ="form-group">
                    <input type='submit' class="btn btn-success btn-sm" value='Upload FERPA!' />   
                </div>
                <br>
                <a href="/downloadFerpa">Click here to download the FERPA document</a> 
                </form>
            </div>
        </div>
     <% } %>
     
     <!-- Show the uploads for BIO if they have an BIO application submitted --> 
     <% if (bioApp) { %> 
        <div class="homePageSection" id="bioDocumentUploadSectionOnHomePage">
            <h3>BIO Uploads</h3>
            <div class="form-group">
            </div>
            <div class="uploadBox" id="bioBox">
                <form ref='uploadForm'
                id='uploadForm'
                action='/uploadBioEssay'
                method='post'
                encType="multipart/form-data"
                class="form-inline">
                <div class="form-group">
                    <input type="file"  name="essay" />
                </div>
                <div class="form-group">
                    <input type='submit' class="btn btn-success btn-sm" value='Upload Essay!' />
                </div>
                </form>
                <form ref='uploadForm'
                id='uploadForm'
                action='/uploadBioTranscript'
                method='post'
                encType="multipart/form-data"
                class="form-inline">
                <div class="form-group">
                    <input type="file" name="transcript" />
                </div>
                <div class ="form-group">
                    <input type='submit' class="btn btn-success btn-sm" value='Upload Transcript!' />   
                </div>
            </div>
        </div>
     <% } %>

     <!-- If the user has documents uploaded, display the document upload table -->
     <% if (documents.length > 0) { %>
        <div class="homePageSection" id="documentTableOnHomePage">
        <h3>Document Uploads table</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                <th>Document Status</th>
                <th>Name</th>
                <th>Section</th>
                <th>File Type</th>
                <th>Date Submitted</th>
                <th>View Document Details</th>
                </tr>
            </thead>
            <tbody>
            <% documents.forEach(function(document) { %>
               <tr>
                  <td><%= document.documentStatus %></td>
                  <td><%= document.documentName %></td>
                  <td><%= document.fileSection %></td>  
                  <td><%= document.fileType %></td>
                  <td><%= document.prettyUploadDate %></td>
                  <td><a href="/document/<%= document._id%>"><span class='glyphicon glyphicon-search'></span></a></td>
               </tr>
            <% }); %>
            </tbody>
        </table>
        <button class="btn btn-success" type="button" href="#docFeedbackModal" data-toggle="modal" type="display">View Feedback</button>

        <div class="modal fade" id="docFeedbackModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Document Feedback</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th>Document</th>
                                <th>Note</th>
                                <th>Entered By</th>
                                <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% documents.forEach(function(document) { %>
                                <% document.feedback.forEach(function(feedbackEntry) { %>
                                <tr>
                                    <td><%=document.documentName %></td>
                                    <td><%=feedbackEntry.feedback %></td>
                                    <td><%=feedbackEntry.user %></td>
                                    <td><%=feedbackEntry.prettyFeedbackDate %></td>
                                </tr>
                                <% }); %>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>



        </div>
        <% } %>

        <!-- If the user has submitted applications for either ITEC or BIO -->
        <% if ( itecApp || bioApp ) { %>
            <div class="homePageSection" id="secondApplySection">
                <div class="dropdown show"> 
                    <div class="dropdown">
                    <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Select another program to apply to
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <% if (!bioApp) { %>
                            <li><a href="/bio">Biology Internship (BIO 4800)</a></li>
                        <% } %>
                        <% if (!itecApp) { %>
                            <li><a href="/itec">Information Technology Internship (ITEC 4800)</a></li>
                        <% } %>
                    </ul>
                    </div>
                </div>
            </div>
        <% } %> 
    </div>

<% include partials/footerimports %>
</body>
</html>

<script>
$('.bio').hide();
$('.itec').hide();
   $(function(){
       $('#application').change(function(){
          var opt = $(this).val();
           if(opt == 'Bio'){
               $('.bio').show();
               $('.itec').hide();
           }else if(opt=='Itec'){
               $('.bio').hide();
               $('.itec').show();
           }else{
           	$('.itec').hide();
            $('.bio').hide();
           }
       });
   });
</script>