<!-- views/site.ejs -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Site List</title>
    <% include partials/headerimports %>
</head>
<body>
    <% include partials/nav.ejs %>
    <div class="container">
          <h2 align="center">Site Details</h2>
          <% include partials/flashMessages.ejs %>
          <form name="sitefilters" action="/sites" method="post" class="form-horizontal">
         <fieldset>
            <h4 align="center">Select your site table/exports</h4>
                    <div class="form-group">
                        <div class="form-inline">
                            <label for="select" class="col-lg-5 control-label">Program:</label>
                            <div class="col-lg-5">
                                <select class="form-control adminProgram" id="selectProgram" name="selectProgram">
                                    <option selected>All</option>
                                    <option value="Biology Internship (BIOL 4800)">Biology Internship (BIOL 4800)</option>
                                    <option value="Information Technology Internship (ITEC 4900)">Information Technology Internship (ITEC 4900)</option>
                                </select>
                            </div>
                        </div>
                    </div>
         </fieldset>
          <fieldset>
                <div class="form-group">
                    <div class="form-inline">
                        <label for="select" class="col-lg-5 control-label">Company Status:</label>
                        <div class="col-lg-5">
                            <select class="form-control siteStatus" id="sitestatus" name="sitestatus">
                                <option selected>All</option>
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
          </fieldset>
              <div align="center">
              <div style="display: inline-block; margin-right: 105px">
                  <button type="submit" class="btn btn-success btn-md" id="filterBtn">Filter</button>
              </div>
              </div>
          </form>
        <div align="center">
        <div style=" display: inline-block">
            <div class="modal fade" id="exportprogram" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Select Export</h4>
                        </div>
                        <div class="modal-body">
                            <form name="sitefilters" action="/site/export" method="post" class="form-horizontal">
                                <div class="form-group">
                                    <label for="select" class="col-lg-5 control-label">Select Program to Export:</label>
                                    <div class="col-lg-5">
                                        <select class="form-control adminProgram" id="exportProgram" name="exportProgram">
                                            <option value="Biology Internship (BIOL 4800)">Biology Internship (BIOL 4800)</option>
                                            <option value="Information Technology Internship (ITEC 4900)">Information Technology Internship (ITEC 4900)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Export</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success btn-md" data-toggle="modal" data-target="#exportprogram" style="margin-right: 10px">Export Table</button>
        <br><br>
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="sites">
                <thead>
                <tr>
                    <th>Select</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Program</th>
                    <th>Valid MOU</th>
                    <th>MOU Expiration</th>
                    <th>Edit</th>
                    <th>View Details</th>
                    <th>Site Status</th>
                </tr>
                </thead>
                <tbody>
                <%siteList.forEach(function(site) { %>
                    <tr>
                        <td id="mySelect1">
                            <center>
                                <input id="emailCheckbox" type="checkbox"  value ='<% site.contacts.forEach(function(contact) { %>
                    <%= contact.email %>
                    <% });  %>' />

                            </center>
                        </td>
                        <td><%= site.name %></td>
                        <td><%= site.address %></td>
                        <td><%= site.city %></td>
                        <td><%= site.section %></td>
                        <% if (site.mou==='Yes') { %>
                            <td><%= site.mou %></td>
                        <% } else { %>
                            <td>No</td>
                        <% } %>
                        <td><%= site.mouexpiration %></td>
                        <td><a href="/site/edit/<%= site._id %>"><span class='glyphicon glyphicon-pencil'></span></a></td>
                        <td><a href="/site/<%= site._id %>"><span class='glyphicon glyphicon-search'></span></a></td>
                        <td><%= site.sitestatus %></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    <form onClick ="displayResult()">
        <i> <b><a  class="three" id="send1" onclick="displayResult()" href="mailto:" >Send email <br><br><br></a></b></i>
    </form>


    <% include partials/footerimports %>
    <script>
        function displayResult() {
            var send = document.getElementById("send1"),
                l = [];


            $("input#emailCheckbox:checked").each(function () {
                l.push(this.value.trim().replace(/\s+/g, ";"));
            } );
            send.href = "mailto:?bcc=" + l;

        }

    </script>

    <!-- Email All -->
    <script>var emailList = [];</script>
        <%siteList.forEach(function(site) { %>
            <!-- Concatenate all emails -->
            <% site.contacts.forEach(function(contact) { %>
                <script>
                    emailList.push('<%= contact.email %>');
                </script>
            <% }); %>
        <% }); %>
        <script>
          function sendAll() {
            var emailbtn = document.getElementById('btn');
            emailbtn.href = "mailto:?bcc="+ emailList.join(";");
          }
    </script>

      <script type="text/javascript">
          /*
          * This function sets sessionStorage for the program and sitestatus keys to
          * the values obtained from selectProgram (program dropdown) and sitestatus (site status dropdown),
          * upon a change to the value.
          *
          * Then, if the value for the key in sessionStorage is not null, then the dropdown's for selectProgram and
          * sitestatus are set to the values in their appropriate sessionStorage keys.
          *
          * The datatable on the sites page has been given data persistence via the "stateSave" option (default false).
          * This means the table's state will persist across navigation events. This didn't work for the previous way
          * of filtering the table by program and sitestatus though, which is the point of sessionStorage here.
          *
          * Since the values in sessionStorage for program and sitestatus persist per session, it is leveraged to supply
          * the values for a 'search()' call directly. The table is drawn afterwards. Please do not remove this. Search()
          * merely queues the args for changes to the state. Draw() is what loads that state.
          *
          * */

          document.getElementById("selectProgram").onchange = function() {
              sessionStorage.setItem('program', document.getElementById("selectProgram").value)
          }
          document.getElementById("sitestatus").onchange = function() {
              sessionStorage.setItem('sitestatus', document.getElementById("sitestatus").value)
          }

          $(document).ready(function () {
              var table = $('#sites').DataTable({
                  "bFilter": true,
                  "pageLength": 50,
                  "stateSave": true,
                  "columnDefs": [
                      { "orderable": false, "targets": 0 }
                  ]
              });

              if (sessionStorage['program']) {
                  document.getElementById("selectProgram").value = sessionStorage.getItem('program')
              }
              if (sessionStorage['sitestatus']) {
                  document.getElementById("sitestatus").value = sessionStorage.getItem('sitestatus')
              }
              if (sessionStorage['program'] === 'Biology Internship (BIOL 4800)') {
                  table.column(5).search("Bio")
              }
              else if (sessionStorage['program'] === 'Information Technology Internship (ITEC 4900)') {
                  table.column(5).search("Itec")
              }
              else {
                  table.column(5).search("")
              }
              if (sessionStorage['sitestatus'] === 'Active' || sessionStorage['sitestatus'] === 'Inactive') {
                  table.column(10).search('\^'+sessionStorage['sitestatus']+'\$', true, false)
              }
              else {
                  table.column(10).search("")
              }
              table.draw()

          });


      </script>
        <script>
            function checkAll()
            {
                let checkboxes = document.getElementsByTagName('input'), val = null;
                for (let i = 0; i < checkboxes.length; i++)
                {
                    if (checkboxes[i].type == 'checkbox')
                    {
                        if (val === null) val = checkboxes[i].checked;
                        checkboxes[i].checked = val;
                    }
                }
            }
        </script>
      </div>
</body>
</html>
