    <!doctype html>
<html>
<head>
    <title>Add Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
    <div class="page-header text-center">
        <a href="/dashboard" class="btn btn-default btn-sm">Dashboard</a>
        <a href="/addsite" class="btn btn-default btn-sm">Add Site</a>
        <a href="/sites" class="btn btn-default btn-sm">View Sites</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>    
    
    <% siteList.forEach(function(site) { %>
        <p> Name: <%= site.name %> Address: <%= site.address %>  City: <%= site.city %>  State: <%= site.state %>  Zipcode: <%= site.zipcode %> </p>
    <% }); %>
    
    </body>
    </html>