<html>
    <head>
    <title>Site Details</title>
<% include partials/headerimports %>
</head>
<% include partials/nav.ejs %>
    <body>
        <div class="container">
        
      <div class="col-sm-6 col-sm-offset-3"> 
      <h3>Site Information:</h3>
       <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>ZipCode</th>
        <th>MOU</th>
        <th>Expiration</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= site.name %></td>
        <td><%= site.address %></td>
        <td><%= site.city %></td>
        <td><%= site.state %></td>
        <td><%= site.zipcode %></td>
        <td><%= site.mou %></td>
        <td><%= site.mouexpiration %></td>
      </tr>
    </tbody>
  </table> 
      </div>

      <div class="col-sm-6 col-sm-offset-3"> 
      <br>
      <h3>Contacts:</h3>
      <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
         <th>Email</th>
          <th>Office Number</th>
           <th>Cell Number</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
        <% site.contacts.forEach(function(contact) { %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.title %></td>
        <td><%= contact.email %></td>
        <td><%= contact.office %></td>
        <td><%= contact.cell %></td>
         <td><a href='/site/contacts/<%= site._id %>/<%= contact._id %>'>Delete</a></td>
      </tr>
          <% }); %>
    </tbody>
  </table>
      </div>
      
      <div class="col-sm-6 col-sm-offset-3">
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <hr>
    <h3>Add Contact</h3>

    <form name="addsitecontacts" method="post">
        <div class="form-group">
            <label>Contact Name</label>
            <input type="text" class="form-control" name="name" required>
        </div>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" >
        </div>
                <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" >
        </div>
                <div class="form-group">
            <label>Office</label>
            <input type="text" class="form-control" name="office" >
        </div>
                <div class="form-group">
            <label>Cell</label>
            <input type="text" class="form-control" name="cell" >
        </div>
        <button type="submit" class="btn btn-success btn-lg">Add Contact</button>
    </form>
</div>
<% include partials/footerimports %>
    </body>
    
    
</html>