<!-- views/site.ejs -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Site List</title>
    <% include partials/headerimports %>
</head>
<body>
    <% include partials/nav.ejs %>
      <div class="container">
          <h2>Site Details</h2>
          <% include partials/flashMessages.ejs %>
          <form name="siteexports" action="/sites" method="post" class="form-horizontal">
         
        <div class="row col-sm-12">
            <h4 align="center">Select your table/export filters</h4>
            <div class="col-sm-5">                
                    <div class="form-group">
                        <div class="form-inline">
                            <label for="select" class="control-label">Select your program:</label>
                            <div class="">
                                <select class="form-control adminProgram" id="programSelect" name="program">
                                    <option value="Biology Internship (BIOL 4800)">Biology Internship (BIOL 4800)</option>
                                    <option value="Information Technology Internship (ITEC 4900)">Information Technology Internship (ITEC 4900)</option>
                                </select>
                            </div>
                        </div>
                    </div>   
                    <div align="center">
                        <button type="submit" class="btn btn-success btn-lg">Export</button>
                    </div>
                </form>
            </div>
        </form>
            <div class="col-sm-5 pull-right">
                <div class="form-group">
                    <div class="form-inline">
                        <label for="select" class="control-label">Filter by Company Status:</label>
                        <div class="" class>
                            <select class="form-control adminProgram" id="sitestatusdd" name="sitestatusdd">
                                    <option selected>Filter by Status</option>
                                <option value="active" >Active</option>
                                <option value="inactive">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
          <br>
          <table class="table table-bordered" id="sites">
              <thead>
                  <tr>
                      <th >
                          <center>Select All</center>
                          <br/>
                          <script>
                              function checkAll(ele) {
                                  var checkboxes = document.getElementsByTagName('input');
                                  if (ele.checked) {
                                      for (var i = 0; i < checkboxes.length; i++) {
                                          if (checkboxes[i].type == 'checkbox') {
                                              checkboxes[i].checked = true;
                                          }
                                      }
                                  } else {
                                      for (var i = 0; i < checkboxes.length; i++) {
                                          console.log(i)
                                          if (checkboxes[i].type == 'checkbox') {
                                              checkboxes[i].checked = false;
                                          }
                                      }
                                  }
                              }



                          </script>

                          <center>
                              <input id="selectall" type="checkbox" name="mail" value="1" onchange="checkAll(this)"/>

                          </center>
                      </th>
                      <th>Name</th>
                      <th>Email Address</th>
                      <th>Address</th>
                      <th>City</th>
                      <th>Program</th>
                      <th>Valid MOU</th>
                      <th>MOU Expiration</th>
                      <th>Edit</th>
                      <th>View Details</th>
                      <th>Site Status</th>
                  </tr>
              </thead>
              <tbody>
                  <%siteList.forEach(function(site) { %>
               <tr>
                   <td id="mySelect1" >
                       <center>
                           <input id="emailCheckbox" type="checkbox"  value ='<% site.contacts.forEach(function(contact) { %>
                    <% contact.email %>
                    <% });  %>' />

                       </center>
                   </td>
                    <td><%= site.name %></td>
                    <td>
                    <% site.contacts.forEach(function(contact) { %>
                    <%= contact.email %>
                    <% }); %> </td>
                   <td><%= site.address %></td>
                   <td><%= site.city %></td>
                   <td><%= site.section %></td>
                   <% if (site.mou==='Yes') { %>
                  <td><%= site.mou %></td>
                   <% } else { %>
                  <td>No</td>
                   <% } %>
                  <td><%= site.mouexpiration %></td>
                   <td><a href="/site/edit/<%= site._id %>"><span class='glyphicon glyphicon-pencil'></span></a></td>
                   <td><a href="/site/<%= site._id %>"><span class='glyphicon glyphicon-search'></span></a></td>
                   <td><%= site.sitestatus %></td>
               </tr>    
                  <% }); %>
              </tbody>
          </table>
    <form onClick ="displayResult()">

        <i> <b><a  class="three" id="send1" onclick="displayResult()" href="mailto:" >Send email <br><br><br></a></b></i>
    </form>
      </div>

    <% include partials/footerimports %>
    <script>
        function displayResult() {
            var send = document.getElementById("send1"),
                l = [];


            $("input#emailCheckbox:checked").each(function (index) {


                l.push(this.value.trim());
                send.href = "mailto:" + l.join(",");
                console.log(this.value);
                console.log(l);
            } );
            return;

        }

    </script>
      <script type="text/javascript">
          $(document).ready(function () {


              makeOptionSelected('programSelect', '<%= admin.adminprogram %>');
              var program = prettySection('<%= admin.adminprogram %>');

              var table = $('#sites').DataTable({
                  "bFilter": true,
                  "pageLength": 50,

              });

              table.search(program).draw();

          });
      </script>

</body>
</html>
